<div class="customizer">

    <div class="container bs-docs-container ">

        <form name="pafForm">
            <section>
                <p class="bs-header text-center">(First Section to be filled out at all times by Hiring Manager, Manager and/or Associate)</p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{'has-error':pafForm.Date.$invalid}">
                            <label>Date</label>
                            <paf-datepicker dt-option="dateOptions" dt-popup="MM/dd/yyyy" dt-model="pafItem.Date" dt-name="Date" dt-required="true"></paf-datepicker>
                        </div>
                    </div>
                    <div class="col-md-9"> 
                        <div class="form-group typeahead" ng-class="{'has-error':pafForm.HcmHouseCode.$invalid}">
                            <label class="control-label">House Code or Unit Name</label>
                            <paf-typeahead ng-model="pafItem.HcmHouseCode" on-blur="getPersonInformation(pafItem.EmployeeNumber,pafItem.HcmHouseCode)"
                                paf-enter="getPersonInformation(pafItem.EmployeeNumber,pafItem.HcmHouseCode)"
                                source="HcmHouseCodes" typeahead-option="{displayField:'name',valueField:'id',name:'HcmHouseCode'}" ng-required="true"></paf-typeahead>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{'has-error':pafForm.EmployeeNumber.$invalid}">
                            <label class="control-label">Employee/Clock Number</label>
                            <input class="form-control input-sm" name="EmployeeNumber" ng-model="pafItem.EmployeeNumber" paf-enter="getPersonInformation(pafItem.EmployeeNumber,pafItem.HcmHouseCode)"
                                ng-blur="getPersonInformation(pafItem.EmployeeNumber,pafItem.HcmHouseCode)" ng-required="!pafItem.NewHire" paf-numeric />
                            <!--<button ng-click="getEmployee()">Get Employee ID</button>-->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{'has-error':pafForm.FirstName.$invalid}">
                            <label class="control-label">First Name</label>
                            <input class="form-control input-sm" name="FirstName" ng-model="pafItem.FirstName" required />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{'has-error':pafForm.MiddleName.$invalid}">
                            <label class="control-label">Middle Name</label>
                            <input class="form-control input-sm" name="MiddleName" ng-model="pafItem.MiddleName" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{'has-error':pafForm.LastName.$invalid}">
                            <label class="control-label">Last Name</label>
                            <input class="form-control input-sm" name="LastName" ng-model="pafItem.LastName" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':pafForm.AddressLine1.$invalid}">
                            <label class="control-label">Address1</label>
                            <input class="form-control input-sm" name="AddressLine1" ng-model="pafItem.AddressLine1" required />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">Address2</label>
                            <input class="form-control input-sm" name="AddressLine2" ng-model="pafItem.AddressLine2" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{'has-error':pafForm.Phone.$invalid}">
                            <label class="control-label">Phone #</label>
                            <input class="form-control input-sm" name="Phone" ng-model="pafItem.Phone" paf-mask="phone" required />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4" ng-class="{'has-error':pafForm.City.$invalid}">
                        <label class="control-label">City</label>
                        <input class="form-control input-sm" name="City" ng-model="pafItem.City" required />
                    </div>
                    <div class="col-md-4" ng-class="{'has-error':pafForm.StateType.$invalid}">
                        <label class="control-label">State</label>
                        <select class="form-control input-sm" name="StateType" ng-model="pafItem.StateType" ng-options="item.id as item.name for item in States" required>
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-4" ng-class="{'has-error':pafForm.PostalCode.$invalid}">
                        <label>Zip</label>
                        <input class="form-control input-sm" name="PostalCode" ng-model="pafItem.PostalCode" paf-mask="zipcode" required />
                    </div>
                </div>
            </section>
            <section>
                <h4>CHECK ALL THAT APPLY</h4>
                <p>(Position must be posted with Recruiter for any new hire, transfer, re-hire, or promotion)</p>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="pafItem.NewHire" ng-change="positionChange('NewHire',pafItem.NewHire)" />New Hire</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="pafItem.ReHire" ng-change="positionChange('ReHire',pafItem.ReHire)" />Re-Hire</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="pafItem.Separation" ng-change="positionChange('Separation',pafItem.Separation)" />Separation</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="checkbox">
                            <label>LOA<input type="checkbox" ng-model="pafItem.LOA" ng-change="positionChange('LOA',pafItem.LOA)" /></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="pafItem.Promotion" ng-change="positionChange('Promotion',pafItem.Promotion)" />Promotion</label>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="pafItem.Demotion" ng-change="positionChange('Demotion',pafItem.Demotion)" />Demotion</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="pafItem.SalaryChange" ng-change="positionChange('SalaryChange',pafItem.SalaryChange)" />Salary Change</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="pafItem.Transfer" ng-change="positionChange('Transfer',pafItem.Transfer)" />Transfer</label>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="pafItem.PersonalInfoChange" ng-change="positionChange('PersonalInfoChange',pafItem.PersonalInfoChange)" />Personal Info Change</label>

                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="pafItem.Relocation" style="margin-right: 5px;" ng-change="positionChange('Relocation',pafItem.Relocation)" />Relocation</label>
                        </div>
                    </div>
                </div>
            </section>
            <!--NEW HIRE/REHIRE-->
            <section ng-if="pafItem.NewHire||pafItem.ReHire">
                <h4 ng-if="pafItem.NewHire">NEW HIRE</h4>
                <h4 ng-if="pafItem.ReHire">REHIRE</h4>
                <p>(Section to be completed by Hiring Manager and Application and Background Check Release faxed to HRG )</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Hire Date</label>
                            <paf-datepicker dt-option="dateOptions" dt-popup="MM/dd/yyyy" dt-model="pafItem.HireDate"></paf-datepicker>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>Position</label>
                            <select class="form-control input-sm" ng-model="pafItem.PositionType" ng-options="item.id as item.name for item in lkup.PositionTypes">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Status</label>
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-9 col-xs-12">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>
                                            <input type="radio" name="Status" ng-model="pafItem.Status" value="FullTime" ng-change="statusChange()" />&nbsp;Full Time</label>
                                        <input type="text" class="form-control input-sm" ng-disabled="pafItem.Status!='FullTime'"
                                            ng-model="pafItem.FullTimeHours" paf-format="{0} hours/week" placeholder="0 hours/week" paf-numeric />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-9 col-xs-12">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>
                                            <input type="radio" name="Status" ng-model="pafItem.Status" value="Temporary" ng-change="statusChange()" />&nbsp;Temporary</label>
                                        <input type="text" class="form-control input-sm" ng-disabled="pafItem.Status!='Temporary'"
                                            ng-model="pafItem.TemporaryHours" paf-format="{0} hours/week" placeholder="0 hours/week" paf-numeric />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-9 col-xs-12">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>
                                            <input type="radio" name="Status" ng-model="pafItem.Status" value="PartTime" ng-change="statusChange()" />&nbsp;Part Time</label>
                                        <input type="text" class="form-control input-sm" ng-disabled="pafItem.Status!='PartTime'"
                                            ng-model="pafItem.Hours" paf-format="{0} hours/week" placeholder="0 hours/week" paf-numeric />
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-9 col-xs-12 ">
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>
                                            <input type="radio" name="Status" ng-model="pafItem.Status" value="PerDiem" ng-change="statusChange()" />&nbsp;Per Diem</label>
                                        <input type="text" class="form-control input-sm" ng-disabled="pafItem.Status!='PerDiem'" ng-model="pafItem.Amount" paf-format="{0} per day" placeholder="0 per day" paf-numeric />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-inline">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="Salary" ng-model="pafItem.PayStatus" value="YearlySalary" ng-change="salaryChange()" />&nbsp;Salary</label>

                                    <input type="text" class="form-control input-sm" ng-disabled="pafItem.PayStatus!='YearlySalary'" ng-model="pafItem.YearlySalary" paf-format="{0}/year" placeholder="0/year" style="width: 40%" paf-numeric />
                                </div>
                            </div>
                            <div class="col-md-3 form-inline">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="Salary" ng-model="pafItem.PayStatus" value="AdminHourly" ng-change="salaryChange()" />&nbsp;Admin.Hourly</label>

                                    <input type="text" class="form-control input-sm" ng-disabled="pafItem.PayStatus!='AdminHourly'" ng-model="pafItem.AdminHourly" paf-format="{0}/hour" placeholder="0/hour" style="width: 40%" paf-numeric />
                                </div>
                            </div>
                            <div class="col-md-3 form-inline">
                                <div class="form-group">
                                    <label>
                                        <input type="radio" name="Salary" ng-model="pafItem.PayStatus" value="HourlyRate" ng-change="salaryChange()" />&nbsp;Hourly</label>

                                    <input type="text" class="form-control input-sm" ng-disabled="pafItem.PayStatus!='HourlyRate'" ng-model="pafItem.HourlyRate" paf-format="{0}/hour" placeholder="0/hour" style="width: 40%" paf-numeric />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="gorm-group">
                            <label>Pay Grade</label>
                            <input type="text" class="form-control input-sm" ng-model="pafItem.PayGrade" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Pay Range</label>
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="PayRange" ng-model="pafItem.PayRange" value="1" />Below Min</label>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="PayRange" ng-model="pafItem.PayRange" value="2" />Min</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="PayRange" ng-model="pafItem.PayRange" value="3" />Min to Mid</label>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="PayRange" ng-model="pafItem.PayRange" value="4" />Mid</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="PayRange" ng-model="pafItem.PayRange" value="5" />Mid to Max</label>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="PayRange" ng-model="pafItem.PayRange" value="6" />Max</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="PayRange" ng-model="pafItem.PayRange" value="7" />Over Max</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Reporting to (name & title)</label>
                            <input class="form-control input-sm" ng-model="pafItem.ReportingName" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Training Location</label>
                            <paf-typeahead ng-model="pafItem.HcmHouseCodeTrainingLocation" source="HcmHouseCodes" typeahead-option="{displayField:'name',valueField:'id',name:'HcmHouseCodeTrainingLocation'}"></paf-typeahead>

                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Training Contact</label>
                            <input class="form-control input-sm" ng-model="pafItem.TrainingContact" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Duration</label>
                            <input type="text" class="form-control input-sm" ng-model="pafItem.Duration" paf-format="{0} weeks" placeholder="0 weeks" paf-numeric />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                Car Allowance</label>
                            <div class="input-group-btn" dropdown>
                                <input class="form-control input-sm" ng-model="pafItem.CarAllowance" paf-format="{0}/month" placeholder="0/month" dropdown-toggle paf-numeric />

                                <ul id="dropdown-menu" class="dropdown-menu" role="menu">
                                    <li ng-repeat="item in lkup.CarAllowances" ng-click="pickerCarAllowance(item)"><a>{{item.Description}}</a></li>
                                </ul>
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Bonus Eligible</label>
                            <select class="form-control input-sm" ng-model="pafItem.BonusEligibleType" ng-options="item.id as item.title for item in lkup.BounsEligibles">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </section>
            <!--SEPARATION-->
            <section ng-if="pafItem.Separation">
                <h4>SEPARATION </h4>
                <p>(SCETION to be completed by Manager) REVIEWED WITH HR: Select name from menu</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error':pafForm.SeparationDate.$invalid}">
                            <label>
                                Separation Date</label>
                            <paf-datepicker dt-option="dateOptions" dt-popup="MM/dd/yyyy" dt-name="SeparationDate" dt-model="pafItem.SeparationDate" dt-required="pafItem.Separation"></paf-datepicker>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                Number Vacation Days Due</label>
                            <input class="form-control input-sm" ng-model="pafItem.VacationDaysDue" paf-numeric />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>
                                Separation Pay Number of Weeks</label>
                            <input class="form-control input-sm" ng-model="pafItem.PayNumberOfWeeks" paf-numeric />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error':pafItem.SeparationReason&&pafForm.ResignationType.$invalid}">
                            <label>
                                <input type="radio" name="SeparationReason" ng-model="pafItem.SeparationReason" value="Resignation" />&nbsp;Resignation <span ng-if="pafItem.SeparationReason=='Resignation'">- <i>Enter Reason Code Below</i></span></label>
                            <select class="form-control input-sm" name="ResignationType" ng-model="pafItem.ResignationType" ng-disabled="pafItem.SeparationReason!='Resignation'" ng-options="item.id as item.brief+' '+item.title for item in lkup.Resignations" ng-required="pafItem.SeparationReason=='Resignation'" ng-change="SeparationReasonChange()">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error':pafItem.SeparationReason&&pafForm.TerminationType.$invalid}">
                            <label>
                                <input type="radio" name="SeparationReason" ng-model="pafItem.SeparationReason" value="Termination" />&nbsp;Termination <span ng-if="pafItem.SeparationReason=='Termination'">- <i>Enter Reason Code Below</i></span></label>
                            <select class="form-control input-sm" name="TerminationType" ng-model="pafItem.TerminationType" ng-disabled="pafItem.SeparationReason!='Termination'" ng-options="item.id as item.brief+' '+item.title for item in lkup.Terminations" ng-required="pafItem.SeparationReason=='Termination'" ng-change="SeparationReasonChange()">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error':pafItem.SeparationReason&&pafForm.LayoffType.$invalid}">
                            <label>
                                <input type="radio" name="SeparationReason" ng-model="pafItem.SeparationReason" value="Layoff" />&nbsp;Layoff <span ng-if="pafItem.SeparationReason=='Layoff'">- <i>Enter Reason Code Below</i></span></label>
                            <select class="form-control input-sm" name="LayoffType" ng-model="pafItem.LayoffType" ng-disabled="pafItem.SeparationReason!='Layoff'" ng-options="item.id as item.brief+' '+item.title for item in lkup.Layoffs" ng-required="pafItem.SeparationReason=='Layoff'" ng-change="SeparationReasonChange()">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <label>Note: </label>
                        &nbsp;Send all Separation Information (Resignation Letter,Progressive Counseling,etc.) to HRD
                    </div>
                    <div class="col-md-4 ">
                        <label>Rehire:</label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="pafItem.SeparationReHire" ng-value="true" />
                            Yes</label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="pafItem.SeparationReHire" ng-value="false" />
                            No
                        </label>
                    </div>
                </div>
            </section>

            <!--LEAVE OF ABSENCE-->
            <section ng-if="pafItem.LOA">
                <h4>LEAVE OF ABSENCE</h4>
                <p>(SCETION to be completed by Manager) REVIEWED WITH HR: Select name from menu</p>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error':pafForm.LoaDate.$invalid}">
                            <label>
                                LOA Date</label>
                            <paf-datepicker dt-option="dateOptions" dt-popup="MM/dd/yyyy" dt-name="LoaDate" dt-model="pafItem.LoaDate" dt-change="loaDateChange()"></paf-datepicker>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error':pafForm.DateOfReturn.$invalid}">
                            <label>
                                Date Return</label>
                            <paf-datepicker dt-option="dateOptions" dt-name="DateOfReturn" min-date="pafItem.LoaDate" dt-popup="MM/dd/yyyy" dt-model="pafItem.DateOfReturn"></paf-datepicker>
                        </div>
                    </div>
                </div>
            </section>
            <!--SALARY CHANGE/PROMOTION/Demotion-->
            <section ng-if="pafItem.SalaryChange||pafItem.Promotion||pafItem.Demotion">
                <div ng-if="pafItem.SalaryChange||pafItem.Promotion">
                    <h4>SALARY CHANGE/PROMOTION</h4>
                    <p>(Section to be completed by Hiring Manager or Manager)</p>
                </div>
                <div ng-if="pafItem.Demotion">
                    <h4>DEMOTION</h4>
                    <p>(Section to be completed by Hiring Manager or Manager)</p>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Current Position</label>
                            <div class="form-control input-sm">{{getPositionTypeName()}}</div>
                            <!-- <input class="form-control input-sm" ng-disabled="true" ng-model="pafItem.CurrentPositionType" />-->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':pafForm.NewPositionType.$invalid}">
                            <label>
                                New Position</label>
                            <select class="form-control input-sm" name="NewPositionType" ng-model="pafItem.NewPositionType" ng-options="item.id as item.name for item in lkup.PositionTypes" ng-required="pafItem.SalaryChange||pafItem.Promotion||pafItem.Demotion">
                                <option value=""></option>
                            </select>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error':pafForm.EffectiveDate.$invalid}">
                            <label>
                                Effective Date</label>
                            <paf-datepicker dt-option="dateOptions" dt-name="EffectiveDate" dt-popup="MM/dd/yyyy" dt-model="pafItem.EffectiveDate" dt-required="pafItem.SalaryChange||pafItem.Promotion||pafItem.Demotion"></paf-datepicker>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group" ng-class="{'has-error':pafForm.ChangeReasonType.$invalid}">
                            <label>
                                Reason for Change*:</label>
                            <select class="form-control input-sm" name="ChangeReasonType" ng-model="pafItem.ChangeReasonType" ng-options="item.id as item.title for item in lkup.Reason4Changes" ng-required="pafItem.SalaryChange||pafItem.Promotion||pafItem.Demotion"></select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>&nbsp;</label><br />
                            <b>*Reason Code <span style="text-decoration: underline">MUST</span> be Entered</b>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Date Last Increase</label>
                            <paf-datepicker dt-option="dateOptions" dt-popup="MM/dd/yyyy" dt-model="pafItem.LastIncreaseDate"></paf-datepicker>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Percentage Last Increase</label>
                            <input class="form-control input-sm" ng-model="pafItem.LastIncreasePercentage" paf-numeric />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>
                                Current Salary</label>
                            <input class="form-control input-sm" ng-model="pafItem.CurrentSalary" paf-numeric />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{'has-error':!pafItem.IncreasePercentage&&pafForm.IncreaseAmount.$invalid}">
                            <label ng-if="!pafItem.Demotion">
                                Increase Amt.</label>
                            <label ng-if="pafItem.Demotion">
                                Decrease Amt.
                            </label>
                            <input class="form-control input-sm" name="IncreaseAmount" ng-model="pafItem.IncreaseAmount" paf-numeric ng-required="(pafItem.SalaryChange||pafItem.Promotion||pafItem.Demotion)&&!pafItem.IncreasePercentage" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group" ng-class="{'has-error':!pafItem.IncreaseAmount&&pafForm.IncreasePercentage.$invalid}">
                            <label>
                                Percentage</label>
                            <input class="form-control input-sm" name="IncreasePercentage" ng-model="pafItem.IncreasePercentage" paf-numeric ng-required="(pafItem.SalaryChange||pafItem.Promotion||pafItem.Demotion)&&!pafItem.IncreaseAmount" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>
                                New Salary</label>
                            <input class="form-control input-sm" ng-model="pafItem.NewSalary" paf-numeric />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>
                                Current Pay Grade</label>
                            <input class="form-control input-sm" ng-model="pafItem.CurrentPayGrade" paf-numeric />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':pafForm.NewPayGrade.$invalid}">
                            <label>
                                New Pay Grade</label>
                            <input class="form-control input-sm" name="NewPayGrade" ng-model="pafItem.NewPayGrade" paf-numeric ng-required="pafItem.SalaryChange||pafItem.Promotion||pafItem.Demotion" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Pay Range</label>
                        <div class="row">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="NewPayRange" ng-model="pafItem.NewPayRange" value="1" />Below Min</label>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="NewPayRange" ng-model="pafItem.NewPayRange" value="2" />Min</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="NewPayRange" ng-model="pafItem.NewPayRange" value="3" />Min to Mid</label>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="NewPayRange" ng-model="pafItem.NewPayRange" value="4" />Mid</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="NewPayRange" ng-model="pafItem.NewPayRange" value="5" />Mid to Max</label>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-4 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="NewPayRange" ng-model="pafItem.NewPayRange" value="6" />Max</label>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="radio" name="NewPayRange" ng-model="pafItem.NewPayRange" value="7" />Over Max</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{'has-error':pafForm.NewReportingName.$invalid}">
                            <label>Reporting to (name & title)</label>
                            <input class="form-control input-sm" name="NewReportingName" ng-model="pafItem.NewReportingName" ng-required="pafItem.SalaryChange||pafItem.Promotion||pafItem.Demotion" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group" dropdown>
                            <label>Car Allowance</label>
                            <input type="text" class="form-control input-sm" ng-model="pafItem.NewCarAllowance" paf-format="{0}/month" placeholder="0/month" dropdown-toggle paf-numeric />
                            <ul class="dropdown-menu" role="menu">
                                <li ng-repeat="item in lkup.CarAllowances" ng-click="pickerCarAllowance(item)"><a>{{item.Description}}</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Bonus Eligible</label>
                            <select class="form-control input-sm" ng-model="pafItem.NewBonusEligibleType" ng-options="item.id as item.title for item in lkup.BounsEligibles">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Other Instructions</label>
                            <input class="form-control input-sm" ng-model="pafItem.Instructions" />
                        </div>
                    </div>
                </div>
            </section>

            <!--TRANSFER-->
            <section ng-if="pafItem.Transfer">
                <h4>TRANSFER</h4>
                <p>(Section to be completed by Hiring Manager)</p>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group" ng-class="{'has-error':pafForm.TransferEffectiveDate.$invalid}">
                            <label>Effective Date</label>
                            <paf-datepicker dt-option="dateOptions" dt-name="TransferEffectiveDate" dt-popup="MM/dd/yyyy" dt-model="pafItem.TransferEffectiveDate" dt-required="pafItem.Transfer"></paf-datepicker>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label>Current Unit</label>
                            <paf-typeahead ng-model="pafItem.HcmHouseCode" ng-disabled="true" source="HcmHouseCodes" typeahead-option="{displayField:'name',valueField:'id'}"></paf-typeahead>
                        </div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="form-group" ng-class="{'has-error':pafForm.HouseCodeTransfer.$invalid}">
                            <label>New Unit</label>
                            <paf-typeahead ng-model="pafItem.HouseCodeTransfer" source="HcmHouseCodes" typeahead-option="{displayField:'name',valueField:'id',name:'HouseCodeTransfer'}" ng-required="pafItem.Transfer"></paf-typeahead>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group" ng-class="{'has-error':pafForm.TransferReportingName.$invalid}">
                            <label>Reporting to (name & title)</label>
                            <input class="form-control input-sm" name="TransferReportingName" ng-model="pafItem.TransferReportingName" ng-required="pafItem.Transfer" />
                        </div>
                    </div>
                </div>
            </section>
            <!--PERSONAL INFORMATION CHANGE-->
            <section ng-if="pafItem.PersonalInfoChange">
                <h4>PERSONAL INFORMATION CHANGE</h4>
                <p>(Section to be completed by Associate)</p>
                <div class="row">
                    <div class="col-md-3">
                        <label>Effective Date</label>
                        <paf-datepicker dt-option="dateOptions" dt-popup="MM/dd/yyyy" dt-model="pafItem.InfoChangeEffectiveDate"></paf-datepicker>
                    </div>
                    <div class="col-md-3">
                        <label>First Name</label>
                        <input class="form-control input-sm" ng-model="pafItem.InfoChangeFirstName" />
                    </div>
                    <div class="col-md-3">
                        <label>Middle Name</label>
                        <input class="form-control input-sm" ng-model="pafItem.InfoChangeMiddleName" />
                    </div>
                    <div class="col-md-3">
                        <label>Last Name</label>
                        <input class="form-control input-sm" ng-model="pafItem.InfoChangeLastName" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Address1</label>
                            <input class="form-control input-sm" ng-model="pafItem.InfoChangeAddressLine1" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Address2</label>
                            <input class="form-control input-sm" ng-model="pafItem.InfoChangeAddressLine2" />
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Phone #</label>
                            <input class="form-control input-sm" ng-model="pafItem.InfoChangePhone" paf-mask="phone" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label class="control-label">City</label>
                        <input class="form-control input-sm" ng-model="pafItem.InfoChangeCity" />
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">State</label>
                        <select class="form-control input-sm" ng-model="pafItem.AppStateTypeInfoChange" ng-options="item.id as item.name for item in States">
                            <option></option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="control-label">Zip</label>
                        <input class="form-control input-sm" ng-model="pafItem.InfoChangePostalCode" paf-mask="zipcode" />
                    </div>
                </div>
            </section>
            <!--REQUISITION-->
            <section ng-if="pafItem.NewHire||pafItem.ReHire||pafItem.SalaryChange||pafItem.Promotion||pafItem.Demotion||pafItem.Transfer">
                <h4>REQUISITION</h4>
                <p>(To Be completed by Recruiter)</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Requisition #</label>
                            <input class="form-control input-sm" ng-model="pafItem.RequisitionNumber" paf-numeric />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':pafForm.EmailAddress.$invalid}">
                            <label>Email Address</label>
                            <input class="form-control input-sm" ng-model="pafItem.EmailAddress" name="EmailAddress" paf-validation="email" />
                        </div>
                    </div>
                </div>

            </section>
            <!--RELOCATION-->
            <section ng-if="pafItem.Relocation">
                <h4>RELOCATION</h4>
                <div class="row">
                    <!--<div class="col-md-3">
                        <div class="form-group">
                            <label>&nbsp;</label>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="pafItem.CompanyRelocation" />Company Relocation</label>
                            </div>
                        </div>
                    </div>-->
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':pafForm.RelocationApprovedBy.$invalid}">
                            <label>Relocation approved by</label><input class="form-control input-sm" name="RelocationApprovedBy" ng-model="pafItem.RelocationApprovedBy" required />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':pafForm.RelocationPlan.$invalid}">
                            <label>Plan/Details</label>
                            <select class="form-control input-sm" name="RelocationPlan" ng-model="pafItem.RelocationPlan" ng-options="item.id as item.title for item in lkup.PlanDetails" required>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
            </section>
            <!--COMMENTS-->
            <section>
                <div class="form-group">
                    <h4>COMMENTS</h4>
                    <textarea class="form-control input-sm" ng-model="pafItem.Comments"></textarea>
                </div>
            </section>
            <!--APPROVALS-->
            <section class="margin-bottom20">
                <h4>APPROVALS</h4>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>UD/Dept Mgr</label>
                            <input class="form-control input-sm" ng-model="pafItem.UDDeptMgr" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>Date</label>
                            <paf-datepicker dt-option="dateOptions" dt-popup="MM/dd/yyyy" dt-model="pafItem.UDDate"></paf-datepicker>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>RVP/VP</label>
                            <input class="form-control input-sm" ng-model="pafItem.RVP" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>Date</label>
                            <paf-datepicker dt-option="dateOptions" dt-popup="MM/dd/yyyy" dt-model="pafItem.RVPDate"></paf-datepicker>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>Reg. Mgr</label>
                            <input class="form-control input-sm" ng-model="pafItem.RegMgr" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>Date</label>
                            <paf-datepicker dt-option="dateOptions" dt-popup="MM/dd/yyyy" dt-model="pafItem.RegDate"></paf-datepicker>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>DVP/SVP</label>
                            <input class="form-control input-sm" ng-model="pafItem.DVP" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>Date</label>
                            <paf-datepicker dt-option="dateOptions" dt-popup="MM/dd/yyyy" dt-model="pafItem.DVPDate"></paf-datepicker>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>SHRC</label>
                            <input class="form-control input-sm" ng-model="pafItem.SHRC" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>Date</label>
                            <paf-datepicker dt-option="dateOptions" dt-popup="MM/dd/yyyy" dt-model="pafItem.ShrcDate"></paf-datepicker>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>CEO/CFO</label>
                            <input class="form-control input-sm" ng-model="pafItem.CEO" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="form-group">
                            <label>Date</label>
                            <paf-datepicker dt-option="dateOptions" dt-popup="MM/dd/yyyy" dt-model="pafItem.CEODate"></paf-datepicker>
                        </div>
                    </div>
                </div>
            </section>
            <div class="pull-right margin-bottom20">
                <button class="btn btn-primary" type="submit" ng-click="save(pafForm.$valid)">Save</button>
                <a class="btn btn-default" href="#/list">Cancel</a>
            </div>
        </form>
        <div ng-show="viewLoading">
            <div class="overlay"></div>
            <div class="spinner">
                <span class="glyphicon glyphicon-refresh glyphicon-spin"></span>LOADING....
            </div>
        </div>
    </div>
</div>
