<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="false" strict="false" explicit="true">
      <buildProviders>
        <add extension=".htm" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms name="TeamFin" loginUrl="/net/crothall/chimes/fin/ath/act/Authorize.aspx" timeout="60" path="/" protection="All"></forms>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <httpHandlers>
      <!--<add verb="GET, HEAD, POST, DEBUG" path="*.htm" type="System.Web.UI.PageHandlerFactory"/>
      <add verb="GET, HEAD, POST, DEBUG" path="*.html" type="System.Web.UI.PageHandlerFactory"/>
      <add verb="GET, HEAD, POST, DEBUG" path="*.asp" type="System.Web.UI.PageHandlerFactory"/>
      <add type="System.Web.UI.PageHandlerFactory" path="*.htm" verb="*" preCondition="integratedMode"/>-->
    </httpHandlers>
    <machineKey decryptionKey="AD1497F291BC2F19DB29815415F7F4D7246968AAFF2C0B4C" validationKey="A8FEB3DCEAE8DB548AEDA92BDFC2A7F416AB57FDCB9920B38C32AFDFBE0AA8608DAC76742E58BFCED3E9BAB9296A4548E053D1C5FA668326CF4618DF4C658092" validation="SHA1" decryption="AES"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <modules runAllManagedModulesForAllRequests="false" >
      <remove name="FormsAuthenticationModule" />
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />
      <remove name="UrlAuthorization" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
      <remove name="DefaultAuthentication" />
      <add name="DefaultAuthentication" type="System.Web.Security.DefaultAuthenticationModule" />
    </modules>

    <handlers>
      <remove name="HTM" />
      <add name="HTM" path="*.htm" verb="GET, HEAD, POST, DEBUG" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
