<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <compilation debug="false" strict="false" explicit="true">
      <buildProviders>
        <add extension=".htm" type="System.Web.Compilation.PageBuildProvider"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms name="TeamFin" loginUrl="/net/crothall/chimes/fin/ath/act/Authorize.aspx" timeout="60" path="/" protection="All"></forms>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <httpHandlers>
      <!--<add verb="GET, HEAD, POST, DEBUG" path="*.htm" type="System.Web.UI.PageHandlerFactory"/>
      <add verb="GET, HEAD, POST, DEBUG" path="*.html" type="System.Web.UI.PageHandlerFactory"/>
      <add verb="GET, HEAD, POST, DEBUG" path="*.asp" type="System.Web.UI.PageHandlerFactory"/>
      <add type="System.Web.UI.PageHandlerFactory" path="*.htm" verb="*" preCondition="integratedMode"/>-->
    </httpHandlers>
    <machineKey decryptionKey="F266B9F884B923C6F7EB47A44419B7408419266C70514A71" validationKey="BCB51B7ECFBBA73E8865B5B26FEE2397F5E4947A5FE2C24748A04F41336BDF3AD8F978C41B8930ED2ED55FE877E82A2B677EAFDB67E6AE23B596E14225E11B1F" validation="SHA1" decryption="AES"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <modules runAllManagedModulesForAllRequests="false" >
      <remove name="FormsAuthenticationModule" />
      <add name="FormsAuthenticationModule" type="System.Web.Security.FormsAuthenticationModule" />
      <remove name="UrlAuthorization" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
      <remove name="DefaultAuthentication" />
      <add name="DefaultAuthentication" type="System.Web.Security.DefaultAuthenticationModule" />
    </modules>

    <handlers>
      <remove name="HTM" />
      <add name="HTM" path="*.htm" verb="GET, HEAD, POST, DEBUG" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>