.labelTextArea {
	float: left;
	margin-right: 15px;
}

.inputTextArea {
	float: left;
	width: 150px;
}

.inputTextAreaLarge {
	float: left;
	width: 230px;
}

#searchArea {
	margin-left: 2px;
}

#searchaButtonContainer {
	float: left;
	margin-top: 18px;
	margin-bottom: 10px;
}