.labelTextArea {
	float: left;
	margin-right: 15px;
}

.inputTextArea {
	float: left;
	width: 120px;
}

.inputTextAreaLarge {
	float: left;
	width: 230px;
}

.iiGridHeaderColumn {
	font-size: 8pt;
}

.iiGridBodyColumn {
	font-size: 8pt;
}

#searchArea {
	margin-left: 2px;
}

#searchaButtonContainer {
	float: left;
	margin-top: 18px;
	margin-bottom: 10px;
}

#amountBodyColumn, #collectedBodyColumn, #creditedBodyColumn {
	text-align: right;	
}