
#divPurchaseOrderDetails
{		
	padding: 0px 0px 0px 0px;
}

.tbodyBorder
{
	height: 210px;
	overflow: auto;
}

.gridBorder
{
	border-bottom: solid #AAAAAA thin;
	border-bottom-width: 1px;
	border-right: solid #AAAAAA thin;
	border-right-width: 1px;
}

.gridHeaderColumn
{
	background-color: #669966;
	border: solid #AAAAAA thin;
	border-right: none;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: white;
	/*text-transform: uppercase;*/
	padding: 3px 4px 3px 4px;
	text-align: center;
	height: 17px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
}
	
.gridColumn
{
	vertical-align: top; 
	border-left: solid #AAAAAA thin;
	border-width: 1px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: small;
	color: #032D23;
	height: 20px;
	padding: 2px 4px 4px 4px;
}

.gridRow
{ 
	background-color: #F0EFDD;
}

.alternateGridRow
{ 
	background-color: #FFFFFF;
}
	
.trover
{
	background-color: #C2E4C1;
}
.iiInputText
	{
		width:182px;
		white-space:nowrap;
	}
.iiInputTable
	{
		width:188px;
		white-space:nowrap;
	}