#divPurchaseOrderDetails {
    padding: 0px 0px 0px 0px;
}

#buttonAlign {
    padding-bottom: 5px;
    clear: both;
}

#ButtonPlaceOrder {
    padding: 0px 0px 0px 0px;
}

#AnchorPrint {
    float: left;
    width: 68px;
    padding-left: 10px;
    padding-top: 5px;
}

#AnchorOpen {
    float: left;
    width: 70px;
    padding-left: 10px;
    padding-top: 5px;
	display: none;
}