#container
{
    font-size: 12px;
}
        
#container .x-form-check-wrap
{
    padding-bottom: 4px;
}

#wl-ctrl-100-itemStatusDiv {
	float: left;
	width: 800px;
	padding: 5px 0px 0px 10px;
}

#wl-ctrl-100-itemStatusText {
	float: left;
	text-align: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 1px 0px 0px 5px;
}

.x-form-invalid, textarea.x-form-invalid {
    background-color: #FE7774;
    background-image: none;
    border-color: #CC3300;
    color: #FFFFFF;
}

.AnchorSave {
    float: left;
    margin-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    width: 67px;
}

.AnchorUndo {
    float: left;
    margin-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    width: 73px;
}

.AnchorCancel {
    float: left;
    margin-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    width: 88px;
}

.AnchorNew {
    float: left;
    margin-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
    width: 65px;
}

.loadmask, .ext-el-mask  {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    -moz-opacity: 0.5;
    opacity: .50;
    filter: alpha(opacity=50);
    background-color: #CCC;
    width: 100%;
    height: 100%;
    zoom: 1;
}

.loadmask-msg, .ext-el-mask-msg {
    z-index: 20001;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #6593cf;
    background: #c3daf9;
    padding: 2px;
}

.loadmask-msg div, .ext-el-mask-msg div {
    padding: 5px 10px 5px 25px;
    background: #fbfbfb url('/fin/app/res/images/loading.gif') no-repeat 5px 5px;
    line-height: 16px;
	border: 1px solid #a3bad9;
    color: #222;
    font: normal 11px tahoma, arial, helvetica, sans-serif;
    cursor: wait;
}

.masked {
    overflow: hidden !important;
}

.masked-relative {
    position: relative !important;
}

.masked-hidden {
    visibility: hidden !important;
}

.LabelTextAreaLeftDataCollector {
    color: #032D23;
    float: left;
    font-family: Verdana;
    font-size: 12px;
    height: 27px;
    width: 140px;
}
        
.requiredFieldIndicator {
    color: red;
}
        
.dataCollectorButtonLeft {
    float: left;
    padding-left: 3px;
    width: 25px;
}
        
.nonRequiredFieldIndicator {
    color: #032D23;
    font-family: Verdana;
    font-size: 12px;
    padding-left: 7px;
}
        
.dataCollectorTextBox {
    float: left;
    padding-left: 7px;
    width: 320px;
}

.contentArea {
    margin:20px;
}

.form-header {
    background: none repeat scroll 0 0 #C2E4C1;
    color: #2C2F50;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.ux-grid-1 .x-grid3-hd-row td,.ux-grid-2 .x-grid3-hd-row td {
    border-left-color: #669966;
    border-right-color: #669966;
}

.ux-grid-1 .x-grid3-header,.ux-grid-2 .x-grid3-header , .ux-grid-2 .x-grid3-hd-over .x-grid3-hd-inner {
    background-color: #669966;
    background-image: none;
    color:#fff;
    font-weight:bold;
}

.ux-grid-1 .x-panel-body ,.ux-grid-2 .x-panel-body {
    border-color: #aaa !important;
}

.ux-grid-1 .x-grid3-hd-inner {
    font-size:12px !important;
    font-weight:bold;
}

.ux-grid-1 .x-grid3-cell-inner ,.ux-grid-2 .x-grid3-cell-inner {
    font-size:12px !important;
}

.ux-grid-2 .x-grid3-hd-inner {
    font-size:12px !important;
    font-weight:bold;
    text-align:center;
}

.ux-grid-2 .x-grid3-hd-inner {
  white-space:  normal;
  break-all:break-all;
  word-wrap:break-word;
}

.ux-grid-1 .x-grid3-row ,.ux-grid-2 .x-grid3-row {
    font-size:12px !important;
    border-width:0 !important;
}

.ux-grid-1 .x-grid3-row-over, .ux-grid-1 .x-grid3-row-selected,.ux-grid-2 .x-grid3-row-over, .ux-grid-2 .x-grid3-row-selected {
    background-color: #c2e4c1 !important;
    background-image:none !important;
}

.ux-grid-1 .x-grid3-row-alt,.ux-grid-2 .x-grid3-row-alt {
    background-color:#f0efdd;
}

.ux-grid-1 .x-grid3-row td ,.ux-grid-2 .x-grid3-row td {
    border-right: 1px solid #aaa !important;
    border-bottom: 1px solid #aaa !important;
}

/** vim: ts=4:sw=4:nu:fdc=4:nospell
 *
 * Ext.ux.form.LovCombo CSS File
 *
 * @author    Ing.Jozef Sakáloš
 * @copyright (c) 2008, by Ing. Jozef Sakáloš
 * @date      5. April 2008
 * @version   $Id: Ext.ux.form.LovCombo.css 682 2009-04-17 01:35:14Z jozo $
 *
 * @license Ext.ux.form.LovCombo.css is licensed under the terms of the Open Source
 * LGPL 3.0 license. Commercial use is permitted to the extent that the 
 * code/component(s) do NOT become part of another Open Source or Commercially
 * licensed development library or toolkit without explicit permission.
 * 
 * License details: http://www.gnu.org/licenses/lgpl.html
 */

.ux-lovcombo-icon {
	width:16px;
	height:16px;
	float:left;
	background-position: -1px -1px ! important;
	background-repeat:no-repeat ! important;
}

.ux-lovcombo-icon-checked {
	background: transparent url(/fin/app/res/images/checked.gif) no-repeat;
}

.ux-lovcombo-icon-unchecked {
	background: transparent url(/fin/app/res/images/unchecked.gif)  no-repeat;
}
/* IE patch */
.ext-ie .ux-lovcombo-item-text {
	position:absolute;
	left:16px;
	top:3px;
}

.ext-ie .ux-lovcombo-icon {
	float:none;
}

.ext-ie .x-combo-list-item {
	position:relative;
}
 /* eof */

.lov-combo .x-form-trigger {
 background-image:url(/fin/cmn/usr/media/Common/edit.png) !important;
  border-bottom-width:0px;
   width:20px;
   height:20px;
}

.lov-combo .x-form-trigger, .lov-combo .x-trigger-wrap-focus .x-form-trigger, .lov-combo .x-trigger-wrap-focus .x-form-trigger-over {
    background-position: 0 0 !important;
    
} 

.lov-combo .x-trigger-wrap-focus .x-form-trigger {
     background-image:url(/fin/cmn/usr/media/Common/editSelected.png) !important;
}