#contentAreasContainerLeft {
	float: left;
	width: 52%;
	vertical-align: top;	
	z-index: 3550;
	position: relative;
	margin-right: 20px;
}

#contentAreasContainerRight {
	float: left;
	width: 45%;
	vertical-align: top;
	z-index: 3551;
	position: relative;
}

#LabelTextAreaLeft {
	float: left;
	width: 250px;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

#LabelTextAreaRight {
	float: left;
	width: 250px;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}
	
#InputTextAreaRight {
	float: left;
	width: 190px;
	height: 20px;
}

#Announcement {
	font-family: Verdana;
	font-size: 12px;
	color: black;
}

.iiInputText {
	width: 163px;
}