.iiInputText.Loading {
	background-image: url(/fin/cmn/usr/media/common/indicator.gif);
	background-repeat: no-repeat;
	background-position: right;
	width: 16px;
	height: 16px;
	margin: 1px;
}

.contentArea {
	overflow: hidden;
}

.LabelTextAreaEmployee {
	float: left;
	width: 170px;
	height: 27px;
	color: #032D23;
	font-family: Verdana;
	font-size: 12px;
	padding-top: 3px;
}
	
.InputTextArea {
	float: left;
	width: 200px;
	height: 20px;
}

.labelRadio {
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

.radioButtonAuth {
	float: left;
	width: 80px;
}

.radioButtonDisability {
	width: 370px;
	margin-left: 170px;
}

.radioButtonFemale {
	float: left;
	width: 80px;
}

.ssnDiv {
	float: left;
	width: 100%;
	height: 320px;
	position: relative;
	padding: 10px;
	margin: 0px;
}

.personalDetailsDiv {
	float: left;
	height: 320px;
	position: relative;
	padding: 10px;
	margin: 0px;
}

.ssnDetailsDiv {
    position: relative;
    padding: 0px 10px 0px;
    margin: 0px;
}

.ssnPersonDiv {
    float: left;
    position: relative;
    padding: 10px 10px 0px;
    margin: 0px;
}
	
.ssnEmployeeDiv {
    float: left;
    position: relative;
    padding: 0px 10px;
    margin: 0px;
}

.addressDetailsDiv {
	float: left;
	height: 320px;
	position: relative;
	padding: 10px;
	margin: 0px;
}

.contactDetailsDiv {
	float: left;
	height: 320px;
	position: relative;
	padding: 10px;
	margin: 0px;
}

.employeeInformationDiv {
	float: left;
	width: 100%;
	height: 320px;
	position: relative;
	padding: 10px;
	margin: 0px;
}
	
.reverseTerminationDiv {
	float: left;
	width: 100%;
	height: 80px;
	position: relative;
	padding: 10px;
	margin: 0px;
}

.employeeGeneralInformationDiv {
	float: left;
	height: 320px;
	position: relative;
	padding: 10px;
	margin: 0px;
}

.jobInformationDiv {
	float: left;
	width: 100%;
	height: 320px;
	position: relative;
	padding: 10px;
	margin: 0px;
}
	
.compensationDiv {
	float: left;
	width: 100%;
	height: 320px;
	position: relative;
	padding: 10px;
	margin: 0px;
}

.dateModificationDiv {
	float: left;
	width: 100%;
	height: 170px;
	position: relative;
	padding: 10px;
	margin: 0px;
}
	
.federalDiv {
	float: left;
	height: 320px;
	position: relative;
	padding: 10px;
	margin: 0px;
}
	
.stateTaxDiv {
	float: left;
	width: 100%;
	height: 320px;
	position: relative;
	padding: 10px;
	margin: 0px;
}

.localTaxDiv {
	float: left;
	height: 320px;
	position: relative;
	padding: 10px;
	margin: 0px;
}
	
.requestorDiv {
	float: left;
	position: relative;
	padding: 0px 0px 0px 10px;
	margin: 0px;
}
	
.modificationNotesDiv {
	float: left;
	width: 100%;
	height: 90px;
	position: relative;
	padding: 0px 0px 0px 10px;
	margin: 0px;
}
	
.header .employeeName {
	font-weight: normal;
	font-size: 12px;	
}

.TableEditArea {
	width: 100%;
}

.textBoxLabel {
	float: left;
	width: 170px;
	height: 27px;
	color: #032D23;
	font-family: Verdana;
	font-size: 12px;
	padding-top: 3px;
}
	
.inputTextBox {
	float: left;
	width: 200px;
	height: 20px;
}

.tdBorder {
	width: 150px;
}

.employeeViewHistory {
	font-family: Verdana;
	font-size: 12px;
	color: blue;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 7px;
	margin-right: 10px;
	margin-bottom: 5px;	
}

.employeeViewHistory:hover {	
	color: red;
	text-decoration: underline;
}

.stateAdditionalInfoHeader {
	float: left;
	height: 27px;	
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #032D23;
	padding-top: 3px;
}

.radioButton {
	float: left;
	width: 60px;
}

.viewHistoryLink {
	color: blue;
	cursor: pointer; 
	font-family: Verdana;
	font-size: 12px;
	text-align: center;
}

.viewHistoryLink:hover {	
	color: red;
	text-decoration: underline;
}

#contianerLeft {
	float: left;
	width: 380px;
	position: relative;
	margin-right: 10px;
	z-index: 260;
	vertical-align: top;
}
	
#contianerRight {
	float: left;
	width: 380px;
	position: relative;
	z-index: 261;
}

#EditEmployee {
	float: left;
	position: relative;
	padding-left: 50px;
}

#houseCodeTerm {
	float: left;
	position: absolute;
	z-index: 322;
	top: 35px;
	left: 400px;
}
	
#SSNLookUp {
	font-family: Verdana;
	font-size: 9px;
	color: blue;
	cursor: pointer;
}

#searchArea {
	margin-left: 2px;
}

#searchAreaEmp {
	float: left;
	margin-right: 20px;
}

#searchAreaStatus {
	float: left;
	margin-right: 18px;
}

#searchAreaUnits {
	float: left;
	margin-right: 20px;
}

#searchAreaButtons {
	float: left;
	margin-top: 18px;
	margin-bottom: 10px;
}

#inputEmpSearch {
	width: 175px;
}

#inputUnits {
	width: 255px;
}

#inputStatusTypes, #inputFilterTypes {
	width: 140px;	
}

#searchButtonEmp {
	float: left;
	margin-right: 10px;
}

#newEmployee {
	float:left;
}

#AnchorBack {
	float: right;
	position: relative;
	margin-bottom: 5px;
	padding-right: 5px;
}

#AnchorCancel {
	float: right;
	position: relative;
	margin-bottom: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

#AnchorNext {
	float: right;
	position: relative;
	margin-bottom: 5px;
}

#AnchorSave {
	float: right;
	position: relative;
	margin-bottom: 5px;
	margin-right: 0px;
	padding-top: 0px;
	padding-left: 0px;
}

#AnchorClose {
	float: right;
	width: 72px;
	position: relative;
	margin: 10px;
}

#Notes {	
	float: left;
	width: 583px;
	height: 40px;
	font-family: Verdana;
	font-size: 12px;
	color: black;
}

#backgroundPopup {
	width: 100%; 
	height: 100%;
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 5000; 
	border: 1px solid #cecece; 
	background-color: black;
	display: none;
}

#popupEmployee {
	width: 830px; 
	height: 410px;
	position: absolute;
	z-index: 5025;
	background-color: white;
	display: none;
}

#popupHistory {
	width: 830px; 
	height: 410px;
	background-color: white;
	position: absolute;
	z-index: 5050;	
	display: none;
}