.contentAreaLeft {
	float: left;
	position: relative;
	width: 450px;
	margin-right: 10px;
}

.labelHeaderSmall {
	float: left;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	margin: 10px 0px 10px 10px;
}

.labelTextSearch {
	float: left;
	width: 60px;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 3px 0px 0px 10px;
}

.labelTextSearchMedium {
	float: left;
	width: 120px;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 3px 0px 0px 10px;
}

.labelTextArea {
	float: left;
	width: 190px;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-top: 3px;
}

.labelRadio {
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

.inputTextArea {
	float: left;
	height: 20px;
	width: 200px;
}

.inputTextAreaMedium {
	float: left;
	width: 260px;
}

.inputTextAreaLarge {
	float: left;
	height: 20px;
	width: 660px;
}

.inputTextAreaHouseCode {
	float: left;
	height: 20px;
	width: 210px;
}

.HouseCodeContainer {
	background-color: white;
	border: 1px solid #aaaaaa;	
	float: left;
	height: 16px;
	padding: 1px;
	width: 195px;
}

.HouseCodeText {
	border: 0 none;
	color: #032d23;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	height: 13px;
	width: 175px;
}

.radioButton {
	float: left;
	width: 50px;
}

.radioButtonMedium {
	float: left;
	width: 130px;
}

.inputText {
	width: 96px;
	text-align: right;
	border: solid #AAAAAA thin;	
    padding: 0px 3px !important;
}

.invalid {
	background-color: pink;
}

.iiInputText.Loading {
	background-image: url(/fin/cmn/usr/media/common/indicator.gif);
	background-repeat: no-repeat;
	background-position: right;
	width: 16px;
	height: 16px;
	margin: 1px;
}

.view {
	float: right;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: blue;
	cursor: pointer;
	margin: 10px 0px 10px 5px;
}

.view:hover {	
	color: red;
	text-decoration: underline;
}

#Container {
	border: solid #AAAAAA thin;
	border-width: 1px;
	padding: 5px;
	margin: 5px 1px 1px 1px;
	overflow: auto;
}

#WageTypeGrid {
	margin: 10px;
}

#hoursBodyColumn, #earningsBodyColumn, #payRateBodyColumn {
	text-align: right;	
}

#EmployeeGrid , #TotalWageTypeGrid{
 	padding: 0 10px;
}

#AnchorSearch {
	float: left;
	width: 82px;
	margin: 0px 0px 0px 20px;
}

#AnchorNew {
	float: left;
	width: 66px;
	margin: 5px 0px 10px 10px;
}

#AnchorResendRequest {
	float: left;
	width: 144px;
	margin: 10px 0px 10px 10px;
}

#AnchorCancel {
	float: left;
	width: 80px;
	margin: 10px 0px 10px 10px;
}

#AnchorApprove {
	float: left;
	width: 100px;
	margin: 10px 0px 10px 10px;
}

#AnchorReExport {
	float: left;
	width: 102px;
	margin: 10px 0px 10px 10px;
}

#AnchorEmployeeOK {
	float: left;
	width: 72px;
	padding: 5px 0px 0px 10px;
}

#AnchorEmployeeCancel {
	float: left;
	width: 80px;
	padding: 5px 0px 0px 10px;
}

#AnchorClose {
	float: left;
	width: 72px;
	padding: 5px 0px 0px 10px;
}

#AnchorPopupCancel {
	float: left;
	width: 80px;
	margin: 5px 0px 0px 20px;
}

#AnchorPrev {
	float: left;
	width: 66px;
	margin: 5px 0px 0px 10px;
}

#AnchorNext {
	float: left;
	width: 68px;
	margin: 5px 0px 0px 10px;
}

#AnchorSendRequest {
	float: left;
	width: 128px;
	margin: 5px 0px 0px 10px;
}

#TotalRow {
	margin-left: 1px;
}

#checkRequestPopup {
	width: 800px; 
	height: 400px;
	position: absolute;
	z-index: 5025;
	background-color: white;
	display: none;
}

#popupContainer {
	height: 385px;
	border: solid #AAAAAA thin;
	border-width: 1px;
	margin: 10px;
	padding: 10px 10px 3px 12px;
	overflow-x: hidden;
	overflow-y: auto;
}

#EmployeePopup {
	background-color: white;
	position: absolute;
	z-index: 5030;	
	display: none;
}

#WageTypeTotalPopup {
	width: 1000px;
	height: 600px;
	background-color: white;
	position: absolute;
	z-index: 5035;	
	display: none;
}

#backgroundPopup {
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 5000; 
	width: 100%; 
	height: 100%;
	border: 1px solid #cecece; 
	background-color: black;
	display: none;
}