.pageHeaderRevenue 
{
	background-color: #9BCD9A;
	padding-left: 6px;
	height: 25px;
}

.pageHeaderRevenueRadio 
{
	padding-left: 15px;
	height: 25px;
}

.TableEditArea
{
	width: 100%;
}

#LabelTextAreaLeftRevenue
{
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-right: 10px;
	padding-top: 5px;
	font-weight: bold;
}

#InvoiceRadioButtonLeft
{
	float: left;
	padding-right: 5px;
	padding-top: 2px;
}
	
#DropDownTextAreaRight
{
	padding: 3px 10px 3px 0;
	width: 350px; 
	float: left; 
}

#FiscalYear
{
	width: 70px;
}

.InvoiceGridTable
{
	height: 140px;
	width: 100%;
}

.fragment
{
	border: 0;
	border: solid #AAAAAA thin;
	border-width: 1px;
	margin: 0px;
}

#container-1
{
	float: left;
	border: 0;
	width: 100%;
	padding-top: 5px;
}

#TabCollection
{
	width: 100%;
}

.tabContainer
{
	border: 0; 
	width: 100%;
}

#button
{
	float: right;
	padding-right: 0px;
}
	
#anchorAlign
{
	padding-top: 5px;
	padding-bottom: 5px;
	clear: both;
}

#buttonAlign
{
	margin-left: 130px;
	bottom: 10px;
	position: absolute;
}
	
#AnchorLoad
{
	float: left;
	width: 80px;
	padding-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
}
	
#AnchorCancel
{
	float: left;
	width: 80px;
	padding-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
}

#AnchorSave
{
	float: left;
	width: 67px;
	padding-left: 10px;
	margin-right: 5px;
}

#AnchorNew
{
	float: right;
	width: 103px;
	margin-right: 0px;
}

#AnchorCancelInvoice
{
	float: left;
	width: 80px;
	padding-left: 2px;
	padding-top: 5px;
}

#AnchorOk
{
	float: left;
	width: 60px;
	padding: 5px 5px 0px 5px;
}

#AnchorEdit
{
	float: left;
	width: 62px;
	padding: 5px 5px 0px 5px;
}

#InputTextAreaSmall
{
	width: 150px; 
	float: left; 
	height: 27px;
}
	
#InputTextAreaLarge
{
	width: 250px; 
	float: left; 
	height: 27px;
}
	
#divAreasContainerLeft
{
	float: left;
	margin-right: 20px;
}
	
#divAreasContainerRight
{
	float: left;
}

#popupSetup, #popupSearch
{
	display: none;
}		

#LabelTextAreaRev
{
	width: 200px;
	float: left;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-left: 5px;
}

#LabelTextAreaRightRev
{
	width: 130px;
	float: left;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-left: 5px;
}

#popupMessage	
{
	width: 400px; 
	height: 150px;
	border: 1px black solid;
	border-width: 1px;
	position: absolute;
	z-index: 5000;
	background-color: #F0EFDD;
	display: none;
}

#divMessage	
{
	font-family: Verdana;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
}

#amountBodyColumn, #collectedBodyColumn, #creditedBodyColumn
{
	text-align: right;	
}

#Print
{
	float: left;
	width: 60px;
	padding-left: 2px;
	padding-top: 5px;
}

#PrintMemo
{
	float: left;
	width: 108px;
	padding-left: 2px;
	padding-top: 5px;
}

#Preview
{
	float: left;
	width: 73px;
	padding-left: 2px;
	padding-top: 5px;
}

.linkTextBack
{
	font-family: Verdana;
	font-size: 10px;
	text-decoration: none;
	color: #032D23;
}

#backLable
{
	float: right;
	padding-right: 25px;	
	padding-right: 10px;
	padding-top: 5px;
	font-weight: bold;
}

#Notes 
{	
	float: left;
	width: 450px;
	font-family: Verdana;
	font-size: 12px;
	color: black;
}

.labelNewInvoice {
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 10px 10px 0px 10px;
	width: 150px;
}

.radioButton {
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 8px 0px 0px 0px;
	width: 100px;
}

#AnchorNewNext, #AnchorSearchNext {
	float: left;
	width: 68px;
	padding: 5px 5px 0px 0px;
}

#AnchorNewCancel, #AnchorSearchCancel {
	float: left;
	width: 80px;
	padding: 5px 0px 0px 0px;
}

#popupNewInvoice {
	width: 400px; 
	height: 150px;
	background-color: #FFFFFF;
	border: 1px #A5A5A5 solid;
	border-width: 1px;
	position: absolute;
	z-index: 5025;	
	display: none;
}

#backGroundPopup {
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 5000; 
	width: 100%; 
	height: 100%;
	border: 1px solid #cecece; 
	background-color: black;
	display: none;
}

#searchAreaLabel {
	float: left;
	margin-right: 15px;
}

#searchAreaInput {
	width: 150px;
}

#searchAreaButton {
	float: left;
	margin-top: 18px;
	margin-bottom: 10px;
}
