.pageHeaderRevenue {
	height: 25px;
	background-color: #9BCD9A;
	padding-left: 6px;	
}

.pageHeaderRevenueRadio {
	height: 25px;
	padding-left: 15px;
}

.TableEditArea {
	width: 100%;
}

.InvoiceGridTable {
	width: 100%;
	height: 140px;	
}

.fragment {
	border: 0;
	border: solid #AAAAAA thin;
	border-width: 1px;
	margin: 0px;
}

.tabContainer {
	border: 0; 
	width: 100%;
}

.linkTextBack {
	font-family: Verdana;
	font-size: 10px;
	text-decoration: none;
	color: #032D23;
}

.labelNewInvoice {
	float: left;
	width: 150px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 10px 10px 0px 10px;
}

.radioButton {
	float: left;
	width: 100px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 8px 0px 0px 0px;
}

.labelCustomerNumber {
	float: left;
	width: 150px;	
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

#LabelTextArea {
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-right: 10px;
	padding-top: 5px;
	font-weight: bold;
}

#InvoiceRadioButtonLeft {
	float: left;
	padding-right: 5px;
	padding-top: 2px;
}
	
#DropDownTextAreaRight {
	float: left;
	width: 350px;
	padding: 3px 10px 3px 0;
}

#FiscalYear {
	width: 70px;
}

#container-1 {
	float: left;	
	width: 100%;
	border: 0;
	padding-top: 5px;
}

#TabCollection {
	width: 100%;
}

#button {
	float: right;
	padding-right: 0px;
}
	
#anchorAlign {
	padding-top: 5px;
	padding-bottom: 5px;
	clear: both;
}

#buttonAlign {
	margin-left: 130px;
	bottom: 10px;
	position: absolute;
}
	
#AnchorLoad {
	float: left;
	width: 80px;
	padding-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
}

#AnchorSave {
	float: left;
	width: 67px;
	padding-left: 10px;
	margin-right: 5px;
}

#AnchorCancel {
	float: left;
	width: 80px;
	padding-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
}

#PrintMemo {
	float: left;
	width: 108px;
	padding-left: 2px;
	padding-top: 5px;
}

#AnchorReExport {
	float: left;
	width: 94px;
	padding-left: 2px;
	padding-top: 5px;
}

#Print {
	float: left;
	width: 60px;
	padding-left: 2px;
	padding-top: 5px;
}

#Preview {
	float: left;
	width: 73px;
	padding-left: 2px;
	padding-top: 5px;
}

#AnchorCancelInvoice {
	float: left;
	width: 80px;
	padding-left: 2px;
	padding-top: 5px;
}

#AnchorNew {
	float: right;
	width: 103px;
	margin-right: 0px;
}

#AnchorOk {
	float: left;
	width: 60px;
	padding: 5px 5px 0px 5px;
}

#AnchorEdit {
	float: left;
	width: 62px;
	padding: 5px 5px 0px 5px;
}

#InputTextAreaSmall {
	float: left;
	width: 190px;	
	height: 27px;
}
	
#InputTextAreaLarge {
	float: left;
	width: 250px;
	height: 27px;
}
	
#divAreasContainerLeft {
	float: left;
	margin-right: 20px;
}
	
#divAreasContainerRight {
	float: left;
}

#popupSetup, #popupSearch {
	display: none;
}		

#LabelTextAreaLeft {
	float: left;
	width: 150px;	
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-left: 5px;
}

#LabelTextAreaRight {
	float: left;
	width: 150px;	
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-left: 60px;
}

#popupMessage {
	width: 400px; 
	height: 150px;
	border: 1px black solid;
	border-width: 1px;
	position: absolute;
	z-index: 5000;
	background-color: #F0EFDD;
	display: none;
}

#divMessage	{
	font-family: Verdana;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
}

#amountBodyColumn, #collectedBodyColumn, #creditedBodyColumn {
	text-align: right;	
}

#backLabel {
	float: right;
	padding-right: 25px;	
	padding-right: 10px;
	padding-top: 5px;
	font-weight: bold;
}

#Notes {	
	float: left;
	width: 595px;
	font-family: Verdana;
	font-size: 12px;
	color: black;
}

#AnchorNewNext, #AnchorSearchNext {
	float: left;
	width: 68px;
	padding: 5px 5px 0px 0px;
}

#AnchorNewCancel, #AnchorSearchCancel {
	float: left;
	width: 80px;
	padding: 5px 0px 0px 0px;
}

#popupNewInvoice {
	width: 400px; 
	height: 150px;
	background-color: #FFFFFF;
	border: 1px #A5A5A5 solid;
	border-width: 1px;
	position: absolute;
	z-index: 5025;	
	display: none;
}

#backGroundPopup {
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 5000; 
	width: 100%; 
	height: 100%;
	border: 1px solid #cecece; 
	background-color: black;
	display: none;
}

#searchAreaLabel {
	float: left;
	margin-right: 15px;
}

#searchAreaInput {
	width: 150px;
}

#searchAreaButton {
	float: left;
	margin-top: 18px;
	margin-bottom: 10px;
}