.fragment {
	border: 0;
	border: solid #AAAAAA thin;
	border-width: 1px;
}

.leftContainer {
	float: left;
	margin: 10px 20px 10px 10px;
}

.rightContainer {
	float: left;
	margin: 10px 20px 10px 10px;
}

.subHeader {
    height: 30px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    color: #2C2F50;
	padding-left: 10px;
}

.labelTextYear {
	float: left;
	width: 50px;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #032D23;
	padding: 5px 0px 0px 10px;
}

.labelText {
	float: left;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #032D23;
}

.labelTextArea {
	float:left;
	width: 200px;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

.inputTextSmall {
	float: left; 
	width: 120px; 
	padding-top: 2px;
	padding-bottom: 1px;
	padding-right: 5px;	
}

.inputTextArea {
	float: left;
	width: 200px;
	height: 20px;
}

.iiGridHeaderColumn {
	font-size: 8pt;
	font-style: normal;
}

.iiGridBodyColumn {
	font-size: 8pt;
}

.gridBorder {
	border: solid #AAAAAA thin;
	border-width: 1px;
}

.gridHeaderColumn {
	background-color: #669966;
	border-right: solid #AAAAAA thin;
	border-width: 1px;
	border-bottom: solid #AAAAAA thin;
	border-width: 1px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 3px 2px 3px 2px;
}

.gridHeaderColumnRight {
	background-color: #669966;
	border-bottom: solid #AAAAAA thin;
	border-width: 1px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: white;	
	text-align: center;
	padding: 3px 2px 3px 2px;
}

.gridColumn {	
	border-right: solid #AAAAAA thin;
	border-width: 1px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 8pt;
	color: #032D23;
	height: 18px;
	vertical-align: middle;
	padding: 3px 2px 3px 2px;
}

.gridColumnRight {	
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 8pt;
	color: #032D23;
	height: 18px;
	vertical-align: middle;
	padding: 3px 2px 3px 2px;
}

.gridRow { 
	background-color: #F0EFDD;
}

.gridRow input {
    font-family: Verdana;
    font-size: 8pt;
	color: #032D23;
	padding: 0px;
}

.alternateGridRow { 
	background-color: #FFFFFF;
}

.alternateGridRow input {
    font-family: Verdana;
    font-size: 8pt;
	color: #032D23;
	padding: 0px;
}

.spanColumn {	
	padding-right: 3px;
}

.totalGridRow {
	height: 20px;
	font-weight: bold;
	background-color: #C2E4C1;
}

.grandTotalGridRow {
	height: 20px;
	color: white;
	font-weight: bold;
	background-color: #669966;
}

#Notes {
	float: left;
	width: 620px;
	font-family: Verdana;
	font-size: 12px;
	color: black;
}

#GridLaborControl, #StrategicInitiativeGrid, #GridQualityControl, #GridQualityAssurance, #AdminObjectiveGrid, #GridAdministrative, #GridPTStatistic {
	margin: 10px;
}

#LaborControlGridContainer, #QualityControlGridContainer, #PTPressGaneyGridContainer, #EVSHCAHPSGridContainer, #InHouseStandardMetricGridContainer, #ThirdPartyStandardMetricGridContainer, #PTStatisticGridContainer {
	float: left;
	width: 100%;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
}

#LaborControlContainer, #QualityAssuranceContainer {
	position: relative;
	overflow-x: hidden;
	overflow-y: auto;
}