
.actionHeader 
{
	background-color: #9BCD9A;
	padding-left: 6px;
	height: 25px;
}

#AnchorUpload {
	float: left;
	margin-right: 5px;
	padding-left: 5px;
	padding-top: 0px;
	width: 83px;
}

#AnchorCancel {
	float: left;
	margin-right: 5px;
	padding-left: 5px;
	padding-top: 0px;
	width: 80px;
}

#AnchorValidate {
	float: left;
	margin-right: 5px;
	padding-left: 10px;	
	padding-top: 15px;
	width: 90px;
}

#AnchorSave {
	float: left;
	margin-right: 5px;
	padding-left: 5px;	
	padding-top: 15px;	
	width: 68px;
}

.gridBorder {
	border: solid #AAAAAA thin;
	border-width: 1px;
}

.gridHeaderColumn {
	background-color: #669966;
	border-right: solid #AAAAAA thin;
	border-width: 1px;
	border-bottom: solid #AAAAAA thin;
	border-width: 1px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: white;	
	text-align: center;
	padding: 3px 2px 3px 2px;
}

.gridHeaderColumnRight {
	background-color: #669966;
	border-bottom: solid #AAAAAA thin;
	border-width: 1px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: white;	
	text-align: center;
	padding: 3px 2px 3px 2px;
}

.gridColumn {	
	border-right: solid #AAAAAA thin;
	border-width: 1px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 8pt;
	color: #032D23;
	height: 18px;
	vertical-align: middle;
	padding: 3px 0px 3px 4px;
}

.gridColumnRight {	
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 8pt;
	color: #032D23;
	height: 18px;
	vertical-align: middle;
	padding: 3px 0px 3px 4px;
}

.gridRow { 
	background-color: #F0EFDD;
}

.gridRow input {
    font-family: Verdana;
    font-size: 8pt;
	color: #032D23;
	padding: 0px;
}

.gridRow select {
    font-family: Verdana;
    font-size: 8pt;	
}

.alternateGridRow { 
	background-color: #FFFFFF;
}

.alternateGridRow input {
    font-family: Verdana;
    font-size: 8pt;
	color: #032D23;
	padding: 0px;
}

.alternateGridRow select {
    font-family: Verdana;
    font-size: 8pt;    
}

.paging {
    height: 20px;
    font-family: Verdana;
    font-size: 8pt;
    font-weight: bold;
    color: #ffffff;
    background-color: #669b67;
    text-align: left;
	border-top: solid #AAAAAA thin;
	border-width: 1px;
}

.paging select {
    font-family: Verdana;
    font-size: 8pt;
}