.leftContainer {
	float: left;
	width: 48%;
	vertical-align: top;
	margin-right: 20px;
	position: relative;
}

.rightContainer {
	float: left;
	width: 49.3%;
	vertical-align: top;
	position: relative;
}

.labelTextArea {
	float: left;
	width: 200px;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-left: 10px;
}

.inputTextArea {
	float: left;
	width: 200px;	
}

.inputTextAreaLarge {
	float: left;
	width: 400px;	
}

.inputCheckbox {
	float: left;
	width: 20px;
	padding: 0px 5px 0px 5px;
}

.inputTextRadio {
	float: left;
	width: 20px;
}

.labelCheckbox {
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 3px 0px 0px 0px;
}

.labelTextRadio {
	float: left;
	width: 100px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 3px 0px 0px 5px;
}

.add {
	float: right;
	font-family: Verdana;
	font-size: 12px;
	color: blue;
	cursor: pointer;
	margin: 2px 0px 0px 15px;
}

.add:hover {	
	color: red;
	text-decoration: underline;
}

#ContainerArea {
	border: solid #AAAAAA thin;
	border-width: 1px;
	padding: 5px;
	margin: 1px;
}

#RangeContainer {
	padding: 15px;
}

#startAmountBodyColumn, #endAmountBodyColumn, #payRateBodyColumn {
	text-align: right;	
}