.contentAreasContainerLeft {
    float: left;
	width: 48%;
    margin-right: 20px;
    position: relative;
    vertical-align: top;
    z-index: 3550;
}

.contentAreasContainerRight {
    float: left;
	width: 49.3%;
    position: relative;
    vertical-align: top;
    z-index: 3551;
}

.tableEditArea {
	width: 100%;
}

.labelTextArea {
	float: left;
	width: 130px;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

.labelTextAreaLeft {
	float: left;
	width: 170px;
}

.labelTextAreaRight {
	float: left;
	width: 190px;
}

.inputTextArea {
    float: left;
	width: 220px;
}
 
.inputCheckArea {
	float: left;
	width: 25px;
	padding-left: 3px;
}

#accountDetailContentArea {
	border: solid #AAAAAA thin;
	border-width: 1px;
	padding: 5px;
	margin: 1px;
}

#NotificationContainer {
	height: 49px;
}

#Notification {
	display: none;
}

#NotificationIndicator {
	float: left;
}

#NotificationLabel {
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 15px 0px 0px 10px;
}

#ViewNewGLAccountsLink, #ViewCurrentGLAccountsLink {
	float: left;
	color: blue;
	font-family: Verdana;
	font-size: 12px;
	text-decoration: underline;
	cursor: pointer;
	padding: 15px 0px 0px 20px;
}