.iiInputText {
	width: 182px;
	white-space: nowrap;
}

.iiInputTable {
	width: 188px;
	white-space: nowrap;
}

#itemContentArea { 
	width:100%;
}

#itemContentAreaContainer {
	border: solid #AAAAAA thin;
	border-width: 1px;
	padding: 10px;
}

#InputDropActive {
	float: left;
	width: 190px;
}
	
#InputTextAreaItem {
	float: left;
	width: 150px;	
	height: 27px;
}

#LabelTextAreaLeftItem {
	float: left;
	width: 210px;	
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

#LabelTextAreaItemActive {
	float: left;
	width: 70px;	
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}
	
#LabelTextAreaItemDetails {
	float: left;
	width: 130px;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

#searchButtonItem {
	float: left;
	width: 85px;	
	padding-left: 5px;
	padding-bottom: 5px;
	margin-right: 5px;	
}

#AnchorImport {
	float: left;
	width: 82px;	
	padding-left: 5px;
	padding-top: 5px;
	margin-right: 5px;	
}

#AnchorHistory {
	float: left;
	width: 122px;
	padding-left: 5px;
	padding-top: 5px;
	margin-right: 5px;
}

#AnchorClone {
	float: left;
	width: 72px;
	padding-left: 5px;
	padding-top: 5px;
	margin-right: 5px;
}

#AnchorUpload {
	float: left;
	width: 82px;	
	padding-left: 10px;
	padding-top: 0px;
	margin-right: 5px;
}

#AnchorUploadCancel {
	float: left;
	width: 80px;	
	padding-left: 5px;
	padding-top: 0px;
	margin-right: 5px;
}

#divFrame {
	width: 600px; 
	height: 120px;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 5050;
	background-color: white;	
}

#iFrameUpload {
	padding-left: 10px;
}

#backgroundPopup {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 5000;
	border: 1px solid #cecece; 
	background-color: black;
	display: none;
}

#popupContact {
	width: 700px; 
	height: 350px;
	position: absolute;
	z-index: 5025;
	top: 10%; 
	left: 10%;
	background-color: white;
	display: none;
}

#AnchorClose {
	float: right;
	width: 72px;
	position: relative;
	margin: 10px;
}

#HistoryGrid {	
	height: 350px;
	padding: 0px 10px 0px 10px;
}