.subHeader {
    height: 30px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    color: #2C2F50;
}

.leftContainer {
	float: left;
	margin-right: 20px;
}
	
.rightContainer {
	float: left;
}

.labelTextArea {
	height: 27px;
	width: 220px;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-top: 3px;
}
	
.inputTextArea {
	float: left;
	height: 20px;
	width: 200px;
}

.nonRequiredFieldIndicator {
	color: #032d23;
	padding-left: 7px;
}

.radioButton {
	float: left;
	width: 130px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

.ui-state-default, .ui-widget-content .ui-state-default { 
	border: 1px solid #d3d3d3; 
	font-family: Verdana;
	font-size: 12px;
	background: #ffffff;
	font-weight: normal; 
	color: #000000; 
	outline: none; 
}

.ui-widget-content .ui-state-hover { 
	background: #C2E4C1;
}

.ui-corner-all {
	-moz-border-radius: 0px;
}

.ui-icon.ui-icon-triangle-2-n-s {
	background-image: url(/fin/cmn/usr/media/DropDown/dropDownEnabled.gif);
	background-repeat: no-repeat;
	background-position: right;
}

.ui-multiselect { 
	padding: 0px; 
	text-align: left;
	border: solid #aaaaaa thin;
	border-width: 1px;
}

.iiInputText.Loading {
	background-image: url(/fin/cmn/usr/media/common/indicator.gif);
	background-repeat: no-repeat;
	background-position: right;
	width: 16px;
	height: 16px;
	margin-top: 1px;
	margin-right: 1px;
	margin-left: 1px;
	margin-bottom: 1px;	
}

.notesLabel {
	color: #032D23;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	height: 27px;
	width: 60px;
	padding-top: 3px;
}

#houseCodeDetailContainer {
	border: solid #AAAAAA thin;
	border-width: 1px;
	padding: 5px;
	margin: 1px;
}

#ButtonContainer {
	padding-left: 20px;
}

#AnchorEdit {
	float: left;
	width: 62px;
	padding-left: 5px;
	padding-top: 5px;
	margin-right: 5px;
}

#AnchorSendRequest {
	float: left;
	width: 128px;
	padding-left: 5px;
	padding-top: 5px;
	margin-right: 5px;
}

#AnchorCancelRequest {
	float: left;
	width: 80px;
	padding-left: 5px;
	padding-top: 5px;
	margin-right: 5px;
}

#AnchorView {
	float: left;
	width: 68px;
	padding-left: 5px;
	padding-top: 5px;
	margin-right: 5px;
}

#AnchorClose {
	float: left;
	width: 72px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#AnchorPrev {
	float: left;
	width: 68px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#AnchorNext {
	float: left;
	width: 68px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}
	
#AnchorSave {
	float: left;
	width: 68px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#AnchorApprove {
	float: left;
	width: 92px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#AnchorSaveAndApprove {
	float: left;
	width: 156px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#AnchorGenerateHouseCode {
	float: left;
	width: 244px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#AnchorCancel {
	float: left;
	width: 80px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#AnchorExit {
	float: left;
	width: 68px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#popupNotes {
	width: 530px;
	height: 180px;
	border: 1px black solid;
	border-width: 1px;
	position: absolute;
	z-index: 5025;
	background-color: #F0EFDD;
	display: none;
}

#Notes {
	float: left;
	width: 450px;
	font-family: Verdana;
	font-size: 12px;
	color: black;
}

#AnchorOk {
	float: left;
	width: 54px;
	padding: 10px 5px 0px 60px;	
}

#AnchorClosePopup {
	float: left;	
	width: 82px;
	padding: 10px 5px 0px 5px;
}

#popupRequest {
	width: 950px; 
	height: 410px;
	position: absolute;
	z-index: 5025;
	background-color: white;
	display: none;
}

#popupContainer {
	height: 310px;
	border: solid #AAAAAA thin;
	border-width: 1px;
	margin: 10px;
	padding: 10px 10px 3px 12px;
}

#backgroundPopup {
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 5000; 
	width: 100%; 
	height: 100%;
	border: 1px solid #cecece; 
	background-color: black;
	display: none;
}