.body {
	margin: 0px;
}

.pageBody {
	margin: 10px;
}

.pageHeader {
	height: 25px;
	font-family: Verdana;
	font-size: 18px;
	font-weight: bold;
	color: #2C2F50;
	background-color: #6D94BA;
	text-align: center;
	padding-left: 6px;
	margin-bottom: 5px;
}

.sectionHeader {
	height: 25px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;;
	font-weight: bold;
	font-size: 18px;	
	color: #2C2F50;
	background-color: #C5D7EC;
	text-align: center;
	margin-bottom: 5px;
}

.pageHeaderText {
	height: 25px;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	letter-spacing: .1em;
}

.subHeader {
	height: 20px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 13px;
	color: #2C2F50;
	background: #C5D7EC;
	margin: 5px;
	padding: 3px;
}

.contentArea {	
	vertical-align: top;
}

.contentArea .header {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;	
	color: #2C2F50;
	background: #C5D7EC;
	text-align: center;
	margin-bottom: 5px;
}
	
.contentArea .footer {
	margin-bottom: 5px;
}
	
.contentArea .group {
	width: 370px;
	margin-bottom: 0px;
}

.popupHeader {
    height: 25px;
    font-family: Verdana;
    font-size: 10pt;
    font-weight: bold;
    color: #ffffff;
    background-color: #6D94BA;
    text-align: left;
}

.gridHeader, .gridFooter {
    height: 20px;
    font-family: Verdana;
    font-size: 8pt;
    font-weight: bold;
    color: #ffffff;
    background-color: #5F86AB;
    text-align: left;
}

.gridFooter select {
    font-family: Verdana;
    font-size: 8pt;
}

.borderHorizontal {
    height: 1px;
    background-color: #adaaad;
}

.borderVertical {
    width: 1px;
    background-color: #adaaad;
}

.gridHeaderMedium {
    height: 20px;
    font-family: Verdana;
    font-size: 10pt;
    font-weight: bold;
    color: #ffffff;
    background-color: #5F86AB;
    text-align: center;
}

.labelTextRightSmall {
	float: left;
	font-family: Verdana;
	font-size: 10px;
	color: #032D23;
	margin-left: 5px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.labelText {
	font-family: Verdana;
	font-size: 12px;
	/*font-weight: bold;*/
	color: #032D23;
	/*padding-left: 10px;*/
	padding-top: 4px;
	padding-bottom: 2px;
}
	
.labelTextLeft {
	float: left;	
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	margin-right: 10px;
	padding-top: 4px;
	padding-bottom: 2px;
}

.labelTextCheckBox {
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

.labelTextData {
	font-family: Verdana;
	font-size: 11px;
	color: #032D23;
	padding-left: 15px;
}

.inputRight {
	float: left;
	width: 190px;
	margin-bottom: 10px;
}

.newIcon {
	float:right;
	width: 18px;
	height: 23px;
	background-image: url(media/Common/new.png);
	background-repeat: no-repeat;
	vertical-align: middle;
}

dl.editArea {
	font-family: Verdana;
	font-size: 12px;
}

dl.editArea dt {
	clear: both;
	float: left;
	padding: 4px 2px 2px 0;
}

dl.editArea dd {
	float: left;
	margin: 0 0 5px 0;
}

.gridLabelText {
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

.gridBGColor {
	width: 340px;
	background-color: #B9CBB9;
}

.gridBGColorSmall {
	width: 390px;
	background-color: #BDC5BF;
}

.gridHeaderFont {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;nt-weight:bold;
	font-weight: 800;
	font-size: 18px;
	color: #2C2F50;
}

.text { /* .font, .labelText & .text seems to be fine make it common for all*/
	width: 170px;
	height: 25px;
	font-family: Verdana;
	font-size: small;
	font-weight: bold;
	color: #032D23;
	vertical-align: bottom;
	margin-bottom: 5px;
	margin-top: 5px;
}

.loading {
	width: 36px;
	height: 16px;
	background-image: url(media/Common/indicator.gif);
	background-repeat:no-repeat;
	vertical-align:middle;
	padding-left: 10px;
	padding-right: 10px;
}

.DropDownLoader {
	float: right;
	width: 16px;
	height: 16px;
	background-image : url(media/Common/indicator.gif);
	background-repeat: no-repeat;
}

.HouseCodeDropDown {
	float: right;
	width: 16px;
	height: 16px;
	background-image: url(media/DropDown/dropDownEnabled.gif);
	background-repeat: no-repeat;
}

.HouseCodeDropDown.HouseCodeDropDownLoader {
	float: right;
	width: 16px;
	height: 16px;
	background-image: url(media/Common/indicator.gif);
	background-repeat: no-repeat;
}

.HouseCodeContainer {
	float: left;
	width: 225px;
	height: 16px;
	background-color: white;
	border: solid #AAAAAA thin;
	border-width: 1px;
	padding: 1px 1px 1px 1px;
}
	
.HouseCodeText {
	float: left;
	width: 205px;
	height:13px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	border:0;
}
	
.HouseCodeTree {
	width: 260px;
	height: 150px;
	background-color: white;
	position: absolute;
	z-index: 9000;
	display: none;
}
	
.HouseCodeTreeClose {
	float: right;
	cursor: pointer;
	color: red;
	font-family: Verdana;
	font-size: 9px;
	padding-right: 5px;
}

.treeview span.normal  {
	font-family: Verdana; 
	font-size: 12px;
	color: #032D23;	
	padding: 0 0 0 5px;
}

.treeview span.loading {
	font-family: Verdana; 
	font-size: 12px;
	color: #032D23;
	padding: 1px 0 1px 20px;
	background: url(media/Common/indicator.gif) 0 0 no-repeat; 
}

.treeview span.normal:hover {
	color: red;
}

.treeview span.normalSelected  {
	height: 27px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 12px;
	color: red;
	padding: 0 0 0 5px;
}

.TreeNodeText {
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	vertical-align: text-top;
	padding: 0 0 0 5px;
}

.TreeNodeText:hover {
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: red;
	vertical-align: text-top;
	padding: 0 0 0 5px;
	cursor: pointer;
}

.TreeNodeTextSelected {
	height: 27px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 12px;
	color: red;
	vertical-align: text-top;
	padding: 0 0 0 5px;
}

.itemStatusImage {
	float: left;
	width: 16px;
	height: 16px;
}

.itemStatusImage.Normal {
	background-image: url(media/Common/green.png);
}

.itemStatusImage.New {
	background-image: url(media/Common/newFile.gif);
}

.itemStatusImage.Loading, .itemStatusImage.Saving, .itemStatusImage.Exporting, .itemStatusImage.Importing
, .itemStatusImage.Validating, .itemStatusImage.Uploading, .itemStatusImage.Downloading, .itemStatusImage.Generating {
	background-image: url(media/Common/indicator.gif);
}

.itemStatusImage.Invalid {
	background-image: url(media/Common/cancel.gif);
}

.itemStatusImage.Warning {
	height: 15px;
	background-image: url(media/Common/exclamation.gif);
	margin-top: 1px;	
}

.itemStatusImage.Error {
	background-image: url(media/Common/error.gif);
}

.itemStatusImage.Info {
	background-image: url(media/Common/info.gif);
}

.itemModifiedImage {
	background-image: url(media/Common/pencil.gif);
	width: 16px;
	height: 16px;
	float: left;
	display: none;
}

.itemModifiedImage.Modified {
	display: block;
}

.itemModifiedImage.Locked {
	background-image: url(media/Common/locked.gif);
	display: block;
}

.ui-state-default, .ui-widget-content .ui-state-default { 
	border: 1px solid #d3d3d3; 
	font-family: Verdana;
	font-size: 12px;
	background: #ffffff;
	font-weight: normal; 
	color: #000000; 
	outline: none; 
}

.ui-widget-content .ui-state-hover { 
	background: #dadada;
}

.ui-corner-all .ui-state-active {
	background: #6D94BA;
}

.ui-corner-all {
	-moz-border-radius: 0px;
}

.ui-icon.ui-icon-triangle-2-n-s {
	background-image: url(/fin/cmn/usr/media/DropDown/dropDownEnabled.gif);
	background-repeat: no-repeat;
	background-position: right;
}

.ui-multiselect {
	float: left;
	padding: 0px; 
	text-align: left;
	border: solid #aaaaaa thin;
	border-width: 1px;
}

.tbodyBorder {
	overflow: auto;
}

.tableBorder {
	border: solid #AAAAAA thin;
	border-width: 1px;
	border-bottom: none;
	cursor: pointer;
	background-color: #F0EFDD;		
}

.tdBorder {
	width: 110px;
	border-bottom: solid #AAAAAA thin;
	border-width: 1px;
	font-family: Verdana;
	font-size: 11px;
	color: #032D23;
	padding-left: 5px;
}

.tdImage {
	width: 20px;
	border-bottom: solid #AAAAAA thin;	
	border-width: 1px;	
	padding: 3px 0px 0px 5px;
}

.gridBorder {
	border-bottom: solid #AAAAAA thin;
	border-bottom-width: 1px;
	border-right: solid #AAAAAA thin;
	border-right-width: 1px;
}

.gridBorderFull {
	border: solid #AAAAAA thin;
	border-width: 1px;
}

.gridHeaderColumn {
	height: 20px;
	background-color: #5F86AB;
	border: solid #AAAAAA thin;
	border-width: 1px;
	border-right: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 8pt;
	font-weight: bold;
	color: white;
    text-transform: uppercase; 
	padding: 3px 4px 3px 4px;
	text-align: center;
	border-spacing: 0px 0px;
	border-collapse: collapse;
}

.gridColumn {
	vertical-align: top; 
	border-left: solid #AAAAAA thin;
	border-width: 1px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 8pt;
	color: #032D23;
	height: 20px;
	padding: 2px 4px 4px 4px;
}

.gridColumnHidden {
	display: none;
}

.gridRow { 
	background-color: #D7E1EA;
}

.gridRow input {
	height: 16px;
    font-family: Verdana;
    font-size: 8pt;
	color: #032D23;
	padding: 0px;
}

.gridRow select {
    font-family: Verdana;
    font-size: 8pt;	
}

.alternateGridRow { 
	background-color: #FFFFFF;
}

.alternateGridRow input {
	height: 16px;
    font-family: Verdana;
    font-size: 8pt;
	color: #032D23;
	padding: 0px;
}

.alternateGridRow select {
    font-family: Verdana;
    font-size: 8pt;    
}

.trover {
	background-color: #FFDFAF;
}

.gridHeaderCell {
	background-color: #5F86AB;
	border-right: solid #AAAAAA thin;
	border-width: 1px;
	border-bottom: solid #AAAAAA thin;
	border-width: 1px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: white;	
	text-align: center;
	padding: 3px 2px 3px 2px;
}

.gridHeaderCellRight {
	background-color: #5F86AB;
	border-bottom: solid #AAAAAA thin;
	border-width: 1px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: white;	
	text-align: center;
	padding: 3px 2px 3px 2px;
}


.gridCell {
	height: 20px;
	border-right: solid #AAAAAA thin;
	border-width: 1px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 8pt;
	color: #032D23;
	vertical-align: middle;
	padding: 3px 2px 3px 2px;
}

.gridCellRight {
	height: 20px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: 8pt;
	color: #032D23;
	vertical-align: middle;
	padding: 3px 2px 3px 2px;
}

.gridCell select {
	width: 100%;
	height: 16px;
    font-family: Verdana;
    font-size: 8pt;
}

#appBody {
	margin: 0px 0px 0px 0px;
}

#contentAreasContainerLeft {
	float: left;
	width: 48%;
	vertical-align: top;
	margin-right: 20px;
	z-index: 3550;
	position: relative;
}

#contentAreasContainerRight {
	float:left;
	width:49.3%;
	vertical-align:top;
	z-index:3551;
	position:relative;
}

#TableEditArea {
	width: 100%;
}
	
#LabelTextAreaLeft {
	float: left;
	width: 100px;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

#LableTextAreaSite {
	float:left;
	width: 80px;
	/*height: 27px;*/
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	text-align: right;
	padding: 5px 5px 5px 5px;
}

#LabelTextAreaLeftHeader {
	float: left;
	font-family: Verdana;
	font-size: 12px;
	font-weight:bold;
	color: #032D23;
	padding-right: 5px;
	padding-top: 5px;
}

#InputTextAreaRight {
	float: left;
	width: 190px;
	height: 20px;
}

#DropDownTextAreaRight {
	float:left;
	width: 300px;
	height: 27px;
	padding: 3px 10px 3px 0;
}

#divForm {
	float: left;
	width: 130px;
	height: 40px;
	margin-left: 10px;
    margin-top:10px;
}

#font {
	width: 400px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-left: 10px;
	margin-left: auto;
	margin-right: auto;
}

#AnchorNew {
	float:left;
	width: 66px;
	margin-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#AnchorSave {
	float: left;
	width: 68px;
	margin-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#AnchorUndo {
	float:left;
	width: 74px;
	margin-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#AnchorDelete {
	float: left;
	width: 82px;
	margin-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#AnchorDCancel {
	float: left;
	width: 80px;
	margin-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#nonRequiredFieldIndicator {
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-left: 7px;
}

#actionMenu {
	float: left;
	width: 75px;
}
	
#dropDownMenu {
	float: left;
	width: 60px;
	padding: 3px 5px 3px 5px;
}
	
#DropDownRightHouseCode {
	float: left;
	width: 230px;
	padding: 3px 10px 3px 5px;
}

#HouseCodeInputTextAreaYear {
	float: left;
	padding: 3px 5px 3px 0;
}

#Border {
	width: 100%; 
	height: 200px;
	border: solid #AAAAAA thin; 
	border-width: 1px;
	background-color:#ffffff;
	overflow: auto;
}

#spacing {
	float: left;
	position: relative;
	width: 25px;		
}

#itemStatusDiv {
	float: left;
	width: 800px;
	padding: 5px 0px 0px 10px;
}

#itemStatusText {
	float: left;
	text-align: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 1px 0px 0px 5px;
}

.nav-tabs {
    border-bottom: 0px solid black;
}

.nav-tabs > li > a {
    background-color: #5f86ab;
    color: white;
    padding-top: 5px; 
    padding-bottom: 5px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color:white;
    color:#4e4343;
    background-position: 100% -156px;
}

.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
    background-color:#AAAAAA;
    color:#032D23;
    background-position: 100% -156px;
}

.table > thead {
    background-color: #5f86ab;
}

.table > thead > tr {
    color: white;
}

.table-striped > tbody > tr:nth-child(even) > td,
.table-striped > tbody > tr:nth-child(even) > th {
    background-color: #d0dded;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: white;
}

.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #6D94BA;
}

.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #6D94BA;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #FFDFAF;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  line-height: 0.7;
}

