#AnchorUpload {
	float: left;
	margin-right: 5px;
	padding-left: 5px;
	padding-top: 0px;
	width: 83px;
}

#AnchorCancel {
	float: left;
	margin-right: 5px;
	padding-left: 5px;
	padding-top: 0px;
	width: 80px;
}

#AnchorValidate {
	float: left;
	margin-right: 5px;
	padding-left: 10px;	
	padding-top: 15px;
	width: 90px;
}

#AnchorSave {
	float: left;
	margin-right: 5px;
	padding-left: 5px;	
	padding-top: 15px;	
	width: 68px;
}