#divInvoiceItems {	
	float: left;
	padding: 5px 1% 5px 1%;
	width: 98%;
}

#AnchorInvoiceLabelLeft {
	left: 0;
	bottom: 0;
	position: absolute;
	padding: 10px 10px 10px 10px;
}

#anchorAlign {
	padding-bottom: 5px;
	clear: both;
}

#buttonAlign {
	margin-left: 190px;
	bottom: 10px;
	position: absolute;
}

#AnchorReorder {
	float: left;
	width: 90px;
	padding-top: 5px;
	margin-right: 8px;
}

#AnchorUpdateSalesTax {
	float: left;
	width: 152px;
	padding-top: 5px;
}

#AnchorOk {
	width: 60px;
	padding-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
}

#popupMessage {
	width: 450px; 
	height: 150px;
	border: 1px black solid;
	border-width: 1px;
	position: absolute;
	z-index: 5000;
	background-color: #F0EFDD;
	display: none;
}

#divMessage	{
	font-family: Verdana;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
}