#divInvoiceItems {	
	float: left;
	padding: 5px 1% 5px 1%;
	width: 98%;
}

#AnchorInvoiceLabelLeft {
	left: 0;
	bottom: 0;
	position: absolute;
	padding: 10px 10px 10px 10px;
}

#anchorAlign {
	padding-bottom: 5px;
	clear: both;
}

#buttonAlign {
	margin-left: 190px;
	bottom: 10px;
	position: absolute;
}

#AnchorReorder {
	float: left;
	width: 90px;
	padding-top: 5px;
}

#AnchorOk {
	width: 60px;
	padding-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
}

#popupMessage {
	width: 450px; 
	height: 150px;
	border: 1px black solid;
	border-width: 1px;
	position: absolute;
	z-index: 5000;
	background-color: #F0EFDD;
	display: none;
}

#divMessage	{
	font-family: Verdana;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
}

.gridBorder {
	border-bottom: solid #AAAAAA thin;
	border-bottom-width: 1px;
	border-right: solid #AAAAAA thin;
	border-right-width: 1px;
}

.gridRow { 
	background-color: #F0EFDD;
}

.alternateGridRow { 
	background-color: #FFFFFF;
}

.gridHeaderColumn {
	background-color: #669966;
	border: solid #AAAAAA thin;
	border-width: 1px;
	border-right: none;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: white;
	padding: 3px 4px 3px 4px;
	text-align: center;
	height: 20px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
}

.gridColumnHidden {
	display: none;
}
	
.gridColumn {
	vertical-align: top; 
	border-left: solid #AAAAAA thin;
	border-width: 1px;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	font-family: Verdana;
	font-size: small;
	color: #032D23;
	height: 20px;
	padding: 2px 4px 4px 4px;
	cursor: pointer;
}

.trover {
	background-color: #C2E4C1;
}

.tbodyBorder {
	overflow: auto;
}

.tableBorder {
	border: 1px black solid;
	border-bottom: none;
	border-width: 1px;
	cursor: pointer;
	background-color: #F0EFDD;		
}

.tdBorder {
	border-bottom: solid black thin;
	border-width: 1px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-left: 5px;
	width: 110px;
}