.labelTextArea {
	float: left;
	width: 130px;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

.inpitTextArea {
	float: left;
	width: 230px;
}

#SystemVariableContainer {
	border: solid #AAAAAA thin;
	border-width: 1px;
	padding: 5px;
	margin: 1px;
}