.subHeader {
    height: 30px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    color: #2C2F50;
}

.leftContainer {
	float: left;
	margin-right: 20px;
}
	
.rightContainer {
	float: left;
}

.labelTextArea {
	height: 27px;
	width: 220px;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-top: 3px;
}
	
.inputTextArea {
	float: left;
	height: 20px;
	width: 200px;
}

.nonRequiredFieldIndicator {
	color: #032d23;
	padding-left: 7px;
}

.radioButton {
	float: left;
	width: 130px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

.ui-state-default, .ui-widget-content .ui-state-default { 
	border: 1px solid #d3d3d3; 
	font-family: Verdana;
	font-size: 12px;
	background: #ffffff;
	font-weight: normal; 
	color: #000000; 
	outline: none; 
}

.ui-widget-content .ui-state-hover { 
	background: #C2E4C1;
}

.ui-corner-all {
	-moz-border-radius: 0px;
}

.ui-icon.ui-icon-triangle-2-n-s {
	background-image: url(/fin/cmn/usr/media/DropDown/dropDownEnabled.gif);
	background-repeat: no-repeat;
	background-position: right;
}

.ui-multiselect { 
	padding: 0px; 
	text-align: left;
	border: solid #aaaaaa thin;
	border-width: 1px;
}

#houseCodeDetailContainer {
	border: solid #AAAAAA thin;
	border-width: 1px;
	padding: 5px;
	margin: 1px;
}

#AnchorEdit {
	float: left;
	width: 62px;
	padding-left: 5px;
	padding-top: 5px;
	margin-right: 5px;
}

#AnchorSendRequest {
	float: left;
	width: 128px;
	padding-left: 5px;
	padding-top: 5px;
	margin-right: 5px;
}

#AnchorCancelRequest {
	float: left;
	width: 80px;
	padding-left: 5px;
	padding-top: 5px;
	margin-right: 5px;
}

#AnchorCancel {
	float: left;
	width: 80px;
	margin-right: 5px;
	padding-left: 20px;
	padding-top: 5px;
}

#AnchorPrev {
	float: left;
	width: 68px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#AnchorNext {
	float: left;
	width: 68px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}
	
#AnchorSave {
	float: left;
	width: 68px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#popupWorkflow {
	width: 950px; 
	height: 410px;
	position: absolute;
	z-index: 5025;
	background-color: white;
	display: none;
}

#popupContainer {
	height: 310px;
	border: solid #AAAAAA thin;
	border-width: 1px;
	margin: 10px;
	padding: 10px 10px 3px 12px;
}

#backgroundPopup {
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 5000; 
	width: 100%; 
	height: 100%;
	border: 1px solid #cecece; 
	background-color: black;
	display: none;
}