.inputTextArea {
	float: left;
	width: 200px;
}

.inputTextAreaLarge {
	float: left;
	width: 400px;
}

.labelTextAreaSmall {
	float: left;
	width: 100px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 5px 0px 0px 10px;
}

.labelTextArea {
	float: left;
	width: 130px;	
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 0px 0px 0px 10px;
}

.Header {
    height: 20px;
    font-family: Verdana;
    font-size: 8pt;
    font-weight: bold;
    color: #ffffff;
    background-color: #669b67;
    text-align: left;
}

.Header SELECT {
    font-family: Verdana;
    font-size: 8pt;
}

.BorderHorizontal {
    height: 1px;
    background-color: #adaaad;
}

.BorderVertical {
    width: 1px;
    background-color: #adaaad;
}

.fragment {
	border: 0;
	border: solid #AAAAAA thin;
	border-width: 1px;
	padding: 5px 5px 5px 5px;
}

#AnchorSearch, #AnchorSearchPopup {
	float: left;
	width: 82px;
	margin-left: 15px;
}

#AnchorOk {
	float: left;
	width: 68px;
	padding-left: 10px;
	margin-right: 5px;
	padding-top: 5px;
}

#AnchorCancel {
	float: left;
	width: 80px;
	margin-right: 5px;
	padding-top: 5px;
}

#AnchorUpload {
	float: left;
	margin-right: 5px;
	padding-left: 10px;
	padding-top: 0px;
	width: 82px;
}

#AnchorUploadCancel {
	float: left;
	margin-right: 5px;
	padding-left: 5px;
	padding-top: 0px;
	width: 80px;
}

#priceBodyColumn {
	text-align: right;	
}

#PurItemGrid, #PurCatalogGrid, #HouseCodeGrid {	
	height: 250px;
	padding: 0px 10px 0px 10px;
}

#divFrame {
	width: 600px; 
	height: 120px;
	top: 0px;
	left: 0px;
	position: absolute;
	z-index: 5050;
	background-color: white;	
}

#iFrameUpload {
	padding-left: 10px;
}

#backgroundPopup {
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 5000; 
	width: 100%; 
	height: 100%;
	border: 1px solid #cecece; 
	background-color: black;
	display: none;
}

#popupContact {
	width: 700px; 
	height: 350px;
	position: absolute;
	z-index: 5025;
	top: 10%; 
	left: 10%;
	background-color: white;
	display: none;
}

#ActiveLabelCatalog {
    width: 40px;
    float: left;
    height: 27px;
    font-family: Verdana;
       font-size: 12px;
       color: #032D23;
    padding-left: 15px;
}

#ActiveSearchCatalog {
    width: 175px;
    float: left;
    height: 27px;
    padding-left: 10px;
}
