.LabelTextAreaLeft {
	float: left;
	width: 220px;
	height:27px;
	color: #032d23;
	font-family: Verdana;
	font-size: 12px;	
}

.InputTextAreaRight {
	float: left;
	width: 180px;
	height: 20px;	
}
	
.financialAreasContainerLeft {
	float: left;
	margin-right: 20px;
}
	
.financialAreasContainerRight {
	float: left;
}

.TableEditArea {
	width: 100%;
}

.nonRequiredFieldIndicator {
	color: #032d23;
	font-family: Verdana;
	font-size: 12px;
	padding-left: 7px;
}

.iiInputTable {
	width: 178px;
}
	
.iiInputText {
	width: 172px;
}

#ChargebackGridContainer {
	width: 1200px;
}

#chargeAmountBodyColumn {
	text-align: right;	
}