.labelTextArea {
	float: left;
	width: 180px;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

.inputTextArea {
	float: left;
	width: 200px;
}

#Container {
	border: solid #AAAAAA thin;
	border-width: 1px;
	padding: 5px;
	margin: 2px;
}

#CeridianCompany {
	width: 350px;
}