.leftContainer {
	float: left;
	width: 48%;
	vertical-align: top;
	margin-right: 20px;
	position: relative;
}

.rightContainer {
	float: left;
	width: 49.3%;
	vertical-align: top;
	position: relative;
}

.header {
	font-family: Verdana;
	font-weight: bold;
	font-size: 18px;	
	color: #2C2F50;
	text-align: center;
	margin-bottom: 5px;
}

.labelTextAreaSearch {
	float: left;
	width: 100px;	
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 0px 0px 0px 10px;
}

.labelTextArea {
	float: left;
	width: 150px;	
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

.inputTextAreaSmall {
    float: left;
	width: 100px;
}

.inputTextArea {
    float: left;
	width: 200px;
}

.inputTextAreaLarge {
    float: left;
	width: 300px;
}

.checkBoxLabel {	
	height: 25px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 10px 0px 5px 5px;
}

.gridFooter {
    height: 20px;
    font-family: Verdana;
    font-size: 8pt;
    font-weight: bold;
    color: #ffffff;
    background-color: #669b67;
    text-align: left;
}

.gridFooter SELECT {
    font-family: Verdana;
    font-size: 8pt;
}

.borderHorizontal {
    height: 1px;
    background-color: #adaaad;
}

.borderVertical {
    width: 1px;
    background-color: #adaaad;
}

.ui-state-default, .ui-widget-content .ui-state-default { 
	border: 1px solid #d3d3d3; 
	font-family: Verdana;
	font-size: 12px;
	background: #ffffff;
	font-weight: normal; 
	color: #000000; 
	outline: none; 
}

.ui-corner-all {
	-moz-border-radius: 0px;
}

.ui-icon.ui-icon-triangle-2-n-s {
	background-image: url(/fin/cmn/usr/media/DropDown/dropDownEnabled.gif);
	background-repeat: no-repeat;
	background-position: right;
}

.ui-multiselect { 
	padding: 0px; 
	text-align: left;
	border: solid #aaaaaa thin;
	border-width: 1px;
}

#ContainerArea {
	border: solid #AAAAAA thin;
	border-width: 1px;
	padding: 5px;
	margin: 1px;
}

#AnchorSearch {
	float: left;
	width: 82px;
	padding: 0px 0px 0px 10px;
}

#AnchorClone {
	float: left;
	width: 72px;
	padding-top: 5px;
}
	
#AnchorOk {
	float: left;
	width: 68px;
	padding-left: 10px;
	margin-right: 5px;
	padding-top: 5px;
}

#AnchorCancel {
	float: left;
	width: 80px;
	margin-right: 5px;
	padding-top: 5px;
}

#SelectAllDiv {
	float: left;
	width: 250px;
	margin-left: 40px;
}

#SelectAll {
	float: left;
	width: 25px;
	padding: 7px 0px 5px 5px;
}

#UnassignedEmployeeGrid {
	margin: 10px 10px 0px 10px;
}

#hoursBodyColumn, #balanceHoursBodyColumn {
	text-align: right;
}

#backgroundPopup {
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 5000; 
	width: 100%; 
	height: 100%;
	border: 1px solid #cecece; 
	background-color: black;
	display: none;
}

#popupEmployee {
	width: 700px; 
	height: 350px;
	position: absolute;
	z-index: 5025;
	top: 10%; 
	left: 10%;
	background-color: white;
	display: none;
}