.container {
    width: 100% !important;
    padding: 20px;
}

.customizer .form-control, .customizer .input-group-btn .btn-default {
    background-color: #fafafa;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.customizer label:not(.radio-inline) {
    margin-top: 3px;
    font-weight: 500;
    color: #555;
}

.customizer .has-error label {
    color: #a94442 !important;
}

.customizer h4 {
    margin-bottom: 5px;
    margin-top: 0;
    padding-top: 15px;
}

.customizer .header {
    padding: 20px;
}

.customizer .form-group {
    margin-bottom: 5px;
}

.customizer .radio, .checkbox {
    display: block;
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 20px;
    padding-left: 20px;
}

.customizer p {
    margin: 0 0 5px;
}

.margin-bottom20 {
    margin-bottom: 20px;
}

.typeahead .dropdown-menu {
    height: auto;
    max-height: 400px;
    overflow-y: auto;
}

.overlay {
    opacity: 0.5;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.spinner {
    left: 50%;
    position: fixed;
    top: 50%;
}

.glyphicon-spin {
    -moz-animation: spin 1000ms infinite linear;
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.table-scroll tbody {
    max-height: 400px;
    overflow-y: auto;
    width: 100%;
    display: block;
}

.table-scroll tr {
    width: 100%;
    display: inline-table;
}

.toaster {
    padding: 15px;
    color: #880000;
    background-color: #ffff66;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    opacity: 0.8;
    padding: 15px;
    border-radius: 8px;
}

.toaster .header {
    padding: 5px;
    border-bottom: 1px solid rgba(0,0,0,.175);
}

.toaster .content {
    padding: 5px;
}

.table tbody td .word-wrap {
    word-wrap: break-word;
}

.labelText {
	width: 110px;
}

.footer {
    height: 10px;
    font-family: Verdana;
    font-size: 8pt;
    font-weight: bold;
    color: #ffffff;
    /*background-color: #669b67;*/
    text-align: left;
}

.table {
    margin-top: 10px;
    width: 100%;
    table-layout: fixed;
}


.table th, table td { 
    overflow: hidden;
    table-layout: fixed;
}

.table tbody td { 
    overflow: hidden;
    table-layout: fixed;
}


.table tbody {
    display: block;
    overflow-y: scroll;
}

.table tbody tr {
    width: 100%;
}

#planModal {
    left: 25%;
    position: fixed;
    top: 25%;
    height: auto;
    max-height: 500px;
}

#cloneModal {
    left: 20%;
    position: fixed;
    top: 5%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    float: left;
    border-bottom-width: 0px;
    margin: 1px 1px 0px 1px;
    padding: 2px 2px 0px 2px;
    height: 33px;
}
#mainView {
    border: 1px solid rgba(0,0,0,.175);
    clear: both;
    padding: 0 1em;
    padding-top: 15px;
    padding-bottom: 15px;
}

.control-label {
    font-weight:100;
}

.dropdown-menu > li > div {
    background-color: #ffffff;
}

.btn-primary {
  line-height: 1;
}

#dateModal {
    left: 35%;
    position: fixed;
    top: 25%;
    height: auto;
    max-height: 500px;
}

#employeeModal {
    left: 20%;
    position: fixed;
    top: 5%;
    height: auto;
}

multiselect {
    display:block;
}
multiselect .btn {
    width: 100%;
    background-color: #FFF;
}
multiselect .btn.error{
    border: 1px solid #da4f49 !important;
}
multiselect .dropdown-menu {
    max-height: 300px;
    overflow-y: auto;
}
multiselect .dropdown-menu {
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
}
multiselect .dropdown-menu > li > a {
    padding: 3px 10px;
    cursor:pointer;
}









