.labelTextArea {
	float: left;
	width: 100px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 0px 0px 0px 10px;
}

.inputTextArea {
	float: left;
	width: 150px;
}

.iiInputText.Loading {
	background-image: url(/fin/cmn/usr/media/common/indicator.gif);
	background-repeat: no-repeat;
	background-position: right;
	width: 16px;
	height: 16px;
	margin: 1px;
}

#periodChargeBodyColumn {
	text-align: right;	
}