.TableEditArea {
	width: 100%;
}

.labelCustomerNumber {
	float: left;
	width: 150px;	
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
}

#LabelHeader {
	float: left;
	width: 200px;	
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #032D23;
	padding-left: 5px;	
}

#anchorAlign {
	padding-left: 10px;
	padding-bottom: 15px;
	clear: both;
}

#InputTextAreaSmall {
	float: left;
	width: 190px;	
	height: 27px;
}

#InputTextAreaLarge {
	float: left;
	width: 250px;
	height: 27px;
}

#divAreasContainerLeft {
	float: left;	
	margin-right: 20px;	
}

#divAreasContainerRight {
	float: left;
}

#LabelTextAreaLeft {
	float: left;
	width: 150px;	
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-left: 5px;
}

#LabelTextAreaRight {
	float: left;
	width: 150px;	
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding-left: 60px;
}

#Notes {	
	float: left;
	width: 595px;
	font-family: Verdana;
	font-size: 12px;
	color: black;
}