.labelTextArea {
	float: left;
	width: 100px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 2px 0px 0px 10px;
}

.inputTextArea {
	float: left;
	width: 250px;
	height: 27px;
}

#divAccountReceivables {	
	float: left;
	width: 98%;
	padding: 5px 1% 5px 1%;
}

#anchorAlign {
	float: left;
	padding-left: 10px;
}

#buttonAlign {
	margin-left: 190px;
	bottom: 10px;
	position: absolute;
}

#AnchorCreditInvoice {
	float: left;
	width: 130px;
	padding-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
}

#AnchorReExport {
	float: left;
	width: 102px;
	padding-top: 5px;	
}

#AnchorOk {
	width: 60px;
	padding-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
}

#AnchorCreditMemoOK {
	width: 72px;
	margin: 20px 0px 0px 170px;
}

#popupMessage {
	width: 450px; 
	height: 150px;
	border: 1px black solid;
	border-width: 1px;
	position: absolute;
	z-index: 5050;
	background-color: #F0EFDD;
	display: none;
}

#divMessage	{
	font-family: Verdana;
	font-size: 12px;
	padding: 10px 10px 10px 10px;
}

#popupCreditMemo {
	width: 400px; 
	height: 150px;
	background-color: #FFFFFF;
	border: 1px #A5A5A5 solid;
	border-width: 1px;
	position: absolute;
	z-index: 5025;	
	display: none;
}

#backGroundPopup {
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 5000; 
	width: 100%; 
	height: 100%;
	border: 1px solid #cecece; 
	background-color: black;
	opacity: 0.5;
	display: none;
}