.pageHeader {
	background-color: #9BCD9A;
	padding-left: 6px;
	height: 25px;
}

.subHeader {
    height: 30px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    color: #2C2F50;
	padding-left: 10px;
}

.radioButtonRight {
	float: left;
	width: 20px;
	padding-left: 0px;
	vertical-align: middle;
	height: 20px;
}
	
.radioTextRight {
	float: left;
	width: 105px;
	text-align: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	height: 20px;
	padding: 3px 0px 0px 5px;
}

.dropdownRight
{
	width: 200px;
	float: left;
	padding-top: 5px;
}

.labelStatus {
	float: left;
	width: 60px;
	height: 27px;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	padding: 3px 0px 0px 10px;
}

.labelTextArea {
	width: 160px;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	text-align: left;
	padding-right: 10px;
	height: 27px;
	padding-left: 10px;
}

.inputTextArea {
	width: 190px;
	float: left; 
	height: 30px;	
}

.inputTextAreaLarge {
	float: left;
	height: 20px;
	width: 72%;
}

.iiInputText.Loading {
	background-image: url(/fin/cmn/usr/media/common/indicator.gif);
	background-repeat: no-repeat;
	background-position: right;
	width: 16px;
	height: 16px;
	margin-top: 1px;
	margin-right: 1px;
	margin-left: 1px;
	margin-bottom: 1px;	
}

#InputTextStatus
{
	float: left; 
	width: 120px; 
	padding-top: 2px;
	padding-bottom: 1px;
	padding-right: 5px;	
}

#ShippingInfo {
	height: 385px;
	border: solid #AAAAAA thin;
	border-width: 1px;
	margin: 10px;
	padding: 10px 10px 3px 12px;
}

#GeneralInfo {
	height: 385px;
	border: solid #AAAAAA thin;
	border-width: 1px;
	margin: 10px;
	padding: 10px 10px 3px 12px;
}
	
#contentAreasContainerLeft {
	float: left;
	margin-right: 20px;
}
	
#shippingInfoContainerRight {
	float: left;
}

#LoadButtonItems {
	float: left;
	width: 80px;
	padding-top: 5px;
	padding-left: 10px;
}

#SearchButtonStatus
{
	float: left;
	width: 85px;	
	padding-top: 1px;
	padding-bottom: 1px;
}

#AnchorNew {
	float: left;
	width: 68px;
	margin: 5px 0px 10px 10px;
	padding-top: 0px;
}

#AnchorView {
	float: left;
	width: 68px;
	margin: 5px 0px 10px 10px;
}

#AnchorEdit {
	float: left;
	width: 68px;
	margin: 5px 0px 10px 10px;
}

#AnchorSendRequisition {
	float: left;
	width: 148px;
	margin: 5px 0px 10px 5px;
}

#AnchorResendRequisition {
	float: left;
	width: 164px;
	margin: 5px 0px 10px 5px;
}

#AnchorPrint {
	float: left;
	width: 68px;
	margin: 5px 0px 10px 10px;
}

#anchorAlign {
	clear: both;
	bottom: 15px;
	position: absolute;
}

#AnchorNext {
	float: left;
	width: 68px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#AnchorBack {
	float: left;
	width: 68px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#AnchorSave {
	float: left;
	width: 68px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#AnchorCancel {
	float: left;
	width: 80px;
	margin-right: 5px;
	padding-left: 20px;
	padding-top: 5px;
}

#ItemGridInfo {	
	padding: 0px 10px 0px 10px;
}

#LabelStatus
{	
	float: left;
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #032D23;
	padding-top: 5px;
	padding-right: 5px;	
}

#LabelItemLeft {
	width: 80px;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
}

#LabelItemRight {
	width: 140px;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
}

#backgroundPopup {
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 5000; 
	width: 100%; 
	height: 100%;
	border: 1px solid #cecece; 
	background-color: black;
	display: none;
}

#popupContact {
	width: 800px; 
	height: 400px;
	position: absolute;
	z-index: 5025;
	background-color: white;
	display: none;
}

#priceBodyColumn, #quantityBodyColumn
{
	text-align: right;	
}