.pageHeader {
	background-color: #9BCD9A;
	padding-left: 6px;
	height: 25px;
}

.subHeader {
    height: 30px;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    color: #2C2F50;
	padding-left: 10px;
}

.radioButtonRight {
	float: left;
	width: 20px;
	padding-left: 0px;
	vertical-align: middle;
	height: 20px;
}
	
.radioTextRight {
	float: left;
	width: 105px;
	text-align: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	height: 20px;
	padding: 3px 0px 0px 5px;
}

.labelTextArea {
	width: 160px;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	text-align: left;
	padding-right: 10px;
	height: 27px;
	padding-left: 10px;
}

.inputTextArea {
	width: 190px;
	float: left; 
	height: 30px;	
}

.inputTextAreaLarge {
	float: left;
	height: 20px;
	width: 660px;
}

#ShippingInfo {
	height: 385px;
	border: solid #AAAAAA thin;
	border-width: 1px;
	margin: 10px;
	padding: 10px 10px 3px 12px;
}

#GeneralInfo {
	height: 385px;
	border: solid #AAAAAA thin;
	border-width: 1px;
	margin: 10px;
	padding: 10px 10px 3px 12px;
}
	
#contentAreasContainerLeft {
	float: left;
	margin-right: 20px;
}
	
#shippingInfoContainerRight {
	float: left;
}

#LoadButtonItems {
	float: left;
	width: 80px;
	padding-top: 5px;
	padding-left: 10px;
}

#AnchorNew {
	float: left;
	width: 80px;
	padding-left: 10px;
	margin-right: 0px;
	padding-top: 5px;
}

#AnchorEdit {
	float: left;
	width: 80px;
	padding-left: 0px;
	margin-right: 5px;
	padding-top: 5px;
}

#AnchorPrint {
	float: left;
	width: 80px;
	padding-left: 0px;
	margin-right: 0px;
	padding-top: 5px;
}

#anchorAlign {
	clear: both;
	bottom: 15px;
	position: absolute;
}

#AnchorNext {
	float: left;
	width: 68px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#AnchorBack {
	float: left;
	width: 68px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#AnchorSave {
	float: left;
	width: 68px;
	margin-right: 5px;
	padding-left: 0px;
	padding-top: 5px;
}

#AnchorCancel {
	float: left;
	width: 80px;
	margin-right: 5px;
	padding-left: 20px;
	padding-top: 5px;
}

#ItemGridInfo {	
	padding: 0px 10px 0px 10px;
}

#LabelItemLeft {
	width: 80px;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
}

#LabelItemRight {
	width: 140px;
	float: left;
	font-family: Verdana;
	font-size: 12px;
	color: #032D23;
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
}

#backgroundPopup {
	position: fixed; 
	top: 0; 
	left: 0; 
	z-index: 5000; 
	width: 100%; 
	height: 100%;
	border: 1px solid #cecece; 
	background-color: black;
	display: none;
}

#popupContact {
	width: 800px; 
	height: 400px;
	position: absolute;
	z-index: 5025;
	background-color: white;
	display: none;
}