<h1>Capital Expenditures</h1>
<div id="capital-expanditurer-tab-panel">
    <ul>
        <li><a href="#capital-expanditurer-tab-1"><span>New Capital Equipment</span></a></li>
        <li><a href="#capital-expanditurer-tab-2"><span>Capital Equipment Disposal Worksheet</span></a></li>
        <li><a href="#capital-expanditurer-tab-3"><span>Deprecation Worksheet</span></a></li>
        <li><a href="#capital-expanditurer-tab-4"><span>Depreciation Disposal Worksheet</span></a></li>
    </ul>
    <div id="capital-expanditurer-tab-1">
        <div id="capital-expanditurer-tab-1-grid1"></div>
        <h2>New Capital Equipment Worksheet</h2>
        <div id="capital-expanditurer-tab-1-grid2"></div>
    </div>
    <div id="capital-expanditurer-tab-2">
        <div id="capital-expanditurer-tab-2-grid1"></div>
        <h2>New Capital Equipment Worksheet</h2>
        <div id="capital-expanditurer-tab-2-grid2"></div>
    </div>
    <div id="capital-expanditurer-tab-3">
        <div id="capital-expanditurer-tab-3-grid1"></div>
        <div id="capital-expanditurer-tab-3-grid2"></div>
        <h2>New Capital Equipment Worksheet</h2>
        <div id="capital-expanditurer-tab-3-grid3"></div>
    </div>
    <div id="capital-expanditurer-tab-4">
        <div id="capital-expanditurer-tab-4-grid1"></div>
        <h2>New Capital Equipment Worksheet</h2>
    </div>
</div>