<div style="margin: 10px">
    <div style="padding-bottom: 5px">
        <table>
            <tr>
                <td>
                    Site:
                </td>
                <td>
                    {hcmHouseCodeTitle}
                </td>
                <td>
                    Job:
                </td>
                <td>
                    {hcmJobTitle}
                </td>
                <td>
                    Fiscal Year:
                </td>
                <td>
                    {fscYearTitle}
                </td>
            </tr>
        </table>
    </div>
    <table>
        <thead>
            <tr>
                <td style="width: 10%">
                    Billing Period
                </td>
                <td style="width: 30%" colspan="3">
                    Current Billing Rate
                </td>
                <td style="width: 30%" colspan="3">
                </td>
                <td style="width: 30%" colspan="3">
                    New Billing Rate
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td style="background-color: #659A66">
                </td>
                <td>
                    Rate
                </td>
                <td>
                    Daily Rate
                </td>
                <td>
                    Period Rate
                </td>
                <td>
                    Percent Increase(%)
                </td>
                <td>
                    Increase in $
                </td>
                <td>
                    Date Effective
                </td>
                <td>
                    Rate
                </td>
                <td>
                    Daily Rate
                </td>
                <td>
                    Period Rate
                </td>
            </tr>
            <tr>
                <td>
                    {billing-period}
                </td>
                <td>
                    {current-rate}
                </td>
                <td>
                    {current-daily-rate}
                </td>
                <td>
                    {current-period-rate}
                </td>
                <td>
                    {percent-increase}
                </td>
                <td>
                    {amount-increase}
                </td>
                <td>
                    {date-effective}
                </td>
                <td>
                    {new-rate}
                </td>
                <td>
                    {new-daily-rate}
                </td>
                <td>
                    {new-period-rate}
                </td>
            </tr>
        </tbody>
    </table>
    <h3 style="color: #000000; padding-top: 10px">
        Billings Per Period</h3>
    <div style="padding-bottom:10px">
        {incomeTypes}
    </div>
    <table><tr><td>{description}</td></tr></table>
</div>
