<div class="contract-billing">
    <h2 class="page-title">Contract Billing</h2><br/>
    <table class="ux-table-2">
        <thead>
            <tr>
                <td style="width: 10%">
                    Billing Period
                </td>
                <td style="width: 25%">
                    Current Billing Rate
                </td>
                <td style="width: 30%">
                </td>
                <td style="width: 25%">
                    New Billing Rate
                </td>
                </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table class="ux-table-1">
                        <tbody>
                            <tr style="background-color: #659A66">
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="billing-period" ></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="ux-table-1">
                        <tbody>
                            <tr>
                                <td>
                                    Rate
                                </td>
                                <td>
                                    Daily Rate
                                </td>
                                <td>
                                    Period Rate
                                </td>
                            </tr>
                            <tr>
                                <td class="right">
                                    <div id="current-billing-rate"></div>
                                </td>
                                <td>
                                    <div id="current-billing-daily-rate" ></div>
                                </td>
                                <td>
                                     <div id="current-billing-period-rate" ></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="ux-table-1">
                        <tbody>
                            <tr>
                                <td>
                                    Percent Increase(%)
                                </td>
                                <td>
                                    Increase in $
                                </td>
                                <td>
                                    Date Effective
                                </td>
                            </tr>
                            <tr>
                                <td class="right">
                                     <div id="current-billing-percent-increase" ></div>
                                </td>
                                <td>
                                     <div id="current-billing-amount-increase" ></div>
                                </td>
                                <td class="date-effective">
                                     <div id="current-billing-date-effective" ></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table class="ux-table-1">
                        <tbody>
                            <tr>
                                <td>
                                    Rate
                                </td>
                                <td class="left">
                                    Daily Rate
                                </td>
                                <td>
                                    Period Rate
                                </td>
                            </tr>
                            <tr>
                                <td>
                                     <div id="new-billing-rate" ></div>
                                </td>
                                <td>
                                     <div id="new-billing-daily-rate" ></div>
                                </td>
                                <td>
                                     <div id="new-billing-period-rate" ></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <h3 style="color:#000000;">Billings Per Period</h3>
    <div id="period-grid-holder">
    
    </div>
    <div id="billing-notes" style="padding:20px 0 10px;">
    </div>
   
    <table width="100%">
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td style="width:100px"> 
                    <div id="billing-save-button"></div>
                </td>
                <td style="width:100px">
                    <div id="billing-cancel-button"></div>
                </td>
                <td style="width:100px">
                    <div id="billing-print-button"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
