<h1 class="page-title">Employee Data</h1>
<div id="employee-grid">
</div>
<div class="padding-top-bottom-10" id="employee-form">
</div>
<div>
    <table width="100%">
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td style="width:110px">
                    <div id="employee-save-button"></div>
                </td>
                <td style="width:110px">
                    <div id="employee-update-button"></div>
                </td>
                <td style="width:100px">
                    <div id="employee-print-button"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>