<h1 class="page-title">Management History</h1>
<div id="management-history-tab-panel">
    <ul class="main-tab">
        <li class="tab-item"><a href="#management-history-tab-1"><span>Personal Salary Review Worksheet</span></a></li>
        <li class="tab-item"><a href="#management-history-tab-2"><span>Management Administration Worksheet</span></a></li>
    </ul>
    <div id="management-history-tab-1">
        <h2 class="page-sub-title">Personal Salary Review</h2>
        <div id="personal-salary-review-grid"></div>
        <div id="personal-salary-review-add-button"></div>
    </div>
    <div id="management-history-tab-2">
        <h2 class="page-sub-title">Management History</h2>
        <div id="management-admin--worksheet-grid"></div>
    </div>
</div>