<div style="margin: 10px">
    <div style="padding-bottom: 5px">
        <table>
            <tr>
                <td>
                    Site:
                </td>
                <td>
                    {hcmHouseCodeTitle}
                </td>
                <td>
                    Job:
                </td>
                <td>
                    {hcmJobTitle}
                </td>
                <td>
                    Fiscal Year:
                </td>
                <td>
                    {fscYearTitle}
                </td>
            </tr>
        </table>
    </div>
    
    <h3 style="color: #000000; padding-top: 10px">
        Billings Per Period</h3>
    <div style="padding-bottom:10px">
        {staffingHours}
    </div>
</div>
