<h1 class="page-title">Staffing Hours</h1>
<div id="staffing-tab-panel">
    <ul class="main-tab">
        <li class="tab-item"><a href="#staffing-tab-1"><span>Staffing Hours Detail Worksheet</span></a></li>
        <li class="tab-item"><a href="#staffing-tab-2"><span>Staffing Hours Summary Worksheet</span></a></li>
    </ul>
    <div class="clear"></div>
    <div id="staffing-tab-1">
        <h2 class="page-sub-title">Staffing Detail</h2>
        <div>
            <table width="100%">
                <tbody>
                    <tr>
                        <td style="width:100px">
                            Shift Selected:
                        </td>
                        <td>
                            <div id="staffing-shift-select-box"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table width="100%">
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="width:130px">
                            <div id="staffing-add-unit-button"></div>
                        </td>
                        <td style="width:90px">
                            <div id="staffing-update-button"></div>
                        </td>
                        <td style="width:90px">
                            <div id="staffing-cancel-button"></div>
                        </td>
                        <td style="width:90px">
                            <div id="staffing-print-button"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="staffing-detail-worksheet-grid"></div>
    </div>
    <div id="staffing-tab-2">
        <h2 class="page-sub-title">Staffing Summary</h2>
        <div id="staffing-hours-summary-worksheet-grid"></div>
        <div style="margin-top:10px;">
            <table>
                <tbody>
                    <tr>
                        <td style="width:400px;text-align:right;padding:8px;">Planned(Reduction) or Increase per Week:</td>
                        <td>
                            <div id="increase-per-week-textbox"></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;padding:8px;">Short Staffing Reduction or (Increase) on Legal Holidays:</td>
                        <td>
                            <div id="increase-on-legal-holidays-textbox"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>