<h1 class="page-title">Budget Start Page</h1>
<div id="add-new-budget-button"></div>
<br /><br />
<div>
    <table width="100%" class="ux-table">
        <tbody>
            <tr class="odd">
                <td style="text-align: right;">Budget Start Time</td>
                <td style="text-align: left;">4/27/2010 11:02:44 AM</td>
            </tr>
            <tr>
                <td style="text-align: right;">Budget Started By</td>
                <td style="text-align: left;">ts9999</td>
            </tr>
            <tr class="odd">
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
<br /><br />
<div>
    <h2 class="page-sub-title">Announcements</h2>
    <div class="startbudget-content">
        2011 Fiscal Year Budget Process
        Start:April6, 2010<br />
        Prerequisites<br />
        <ul>
            <li>1.Review/Update Employee Information</li>
            <li>2.Review/Update Mgmt Employee Information</li>
            <li>3.Review Update House Code Information</li>
        </ul>
        <br />
        Once the budget has been started this information cannot be updated in the Budget Process
    </div>
</div>