<h1 class="page-title">Supply Expenditures</h1>
<div id="supply-expanditures-tab-panel">
    <ul class="main-tab">
        <li class="tab-item"><a href="#supply-expanditures-tab-1"><span>Paper Worksheet</span></a></li>
        <li class="tab-item"><a href="#supply-expanditures-tab-2"><span>Plastic Worksheet</span></a></li>
        <li class="tab-item"><a href="#supply-expanditures-tab-3"><span>Janitorial Worksheet</span></a></li>
        <li class="tab-item"><a href="#supply-expanditures-tab-4"><span>Hand Soap Worksheet</span></a></li>
    </ul>
    <div id="supply-expanditures-tab-1">
        <h2 class="page-sub-title">Paper Supplies</h2>
        <div>
            <table width="100%">
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-1-save-button"></div>
                        </td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-1-add-button"></div>
                        </td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-1-cancel-button"></div>
                        </td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-1-print-button"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="paper-supplies-grid"></div>
    </div>
    <div id="supply-expanditures-tab-2">
        <h2 class="page-sub-title">Plastic Supplies</h2>
        <div>
            <table width="100%">
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-2-save-button"></div>
                        </td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-2-add-button"></div>
                        </td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-2-cancel-button"></div>
                        </td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-2-print-button"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="plastic-supplies-grid"></div>
    </div>
    <div id="supply-expanditures-tab-3">
        <h2>Janitorial Supplies</h2>
        <div>
            <table width="100%">
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-3-save-button"></div>
                        </td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-3-add-button"></div>
                        </td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-3-cancel-button"></div>
                        </td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-3-print-button"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="janitorial-supplies-grid"></div>
    </div>
    <div id="supply-expanditures-tab-4">
        <h2>Hand Soap Supplies</h2>
        <div>
            <table width="100%">
                <tbody>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-4-save-button"></div>
                        </td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-4-add-button"></div>
                        </td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-4-cancel-button"></div>
                        </td>
                        <td style="width:100px">
                            <div id="supply-expanditures-tab-4-print-button"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="hand-soap-supplies-grid"></div>
    </div>
</div>