#divPurchaseOrderDetails {
    padding: 0px 0px 0px 0px;
}

#ButtonOpenOrder {
    padding: 0px 0px 0px 0px;
}

#anchorAlign {
    padding-bottom: 5px;
    clear: both;
}

#AnchorAdd {
    float: left;
    width: 65px;
    padding-left: 5px;
    padding-top: 5px;
}

#AnchorEdit {
    float: left;
    width: 68px;
    padding-left: 5px;
    padding-top: 5px;
}

#AnchorView {
    float: left;
    width: 68px;
    padding-left: 5px;
    padding-top: 5px;
}

#AnchorViewEditPO {
    float: left;
    width: 130px;
    padding-left: 10px;
    padding-top: 5px;
}